{% for link in linklists[sub-menu].links %}
  {% if linklists[link.handle] != empty %}
    {% assign link_count = linklists[link.handle].links | size %}
    <div class="dropdown_container" data-dropdown="{{ link.handle }}">
      <div class="dropdown menu">
        <div class="dropdown_content {% if link_count < 4 %}dropdown_narrow{% endif %}">

          
          {% for sublink in linklists[link.handle].links %}
            <div class="dropdown_column">
              <ul class="{% if linklists[sublink.handle] != empty %}dropdown_title{% else %}dropdown_item{% endif %}">
                <li>
                  {% assign img = sublink.title | handleize | append:'.png' %}
                  
                  <!-- <a href="{{ sublink.url }}">{% if link.handle == 'products' %}<img class="menuImg" src="{{ img | asset_img_url:'500x'}}">{%endif%}{% if link.handle == 'products' %}<div class="subLink">{% endif %}{{ sublink.title }}{% if link.handle == 'products' %}</div>{% endif %}</a> -->

                  <a href="{{ sublink.url }}">
                    <img class="menuImg" src="{{ img | asset_img_url:'500x'}}">
                    <div class="subLink"></div>
                  </a>

                </li>
      
              </ul>

              {% if linklists[sublink.handle] != empty %}
                <ul>
                  {% for subsublink in linklists[sublink.handle].links %}
                    <li>
                      
                      <a href="{{ subsublink.url }}">{{ subsublink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            {% cycle link.handle: '', '', '', '', '<div class="dropdown_row"></div>' %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}