<!DOCTYPE html>
{% layout 'theme.ppcontrol' %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="{{ 'responsive-nav.js' | asset_url }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


{{ 'ppcontrol-2.css' | asset_url | stylesheet_tag }}

</head>

<body>
<!-- Navigation -->
    <header class="fornav">
        <nav class="navbar navbar-expand-md topsecbar">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="tel:+1 844-707-7730">(844) 707-7730</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
        <a href="#pricetable" class="logo" data-scroll><img class="logo-change" src="https://cdn.shopify.com/s/files/1/2060/5733/files/Logo_4c_150x_61ec6233-ccec-407c-bddd-fc12e9982cab.png" alt=""></a>
        <nav class="nav-collapse">
            <ul>
                <li class="menu-item active"><a href="#how" data-scroll>How It Works</a></li>
                <li class="menu-item"><a href="#ingredients" data-scroll>Ingredients</a></li>
                <li class="menu-item"><a href="#reviews" data-scroll>Reviews</a></li>
                <li class="menu-item"><a class="menubuynow  desktops" href="#pricetable" data-scroll>Buy Now</a></li>
        </ul>
      </nav>
    </header>

<!-- End Navigation -->
<hr class="topofthepop">
            
                <div class="container-fluid second-section sidepad-0 sidepad-tab">

                        <div class="row bg-4-tablet">
                            <div class="col-lg-2"></div>
                            
                            <div class="col-lg-5 col-md-6 sidepad-0 bg-4-mobile">
                                <div class="benefits headertopy">
                                    <h2>Experience The Full<br>
                                    Benefits Of A Weight <br>
                                    Management Probiotic</h2>
                                    <p class="text-center"><img class="w-25 mobiles" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle_1_header.png?16766849144238667293" /></p>
                                    <h4 class="w-75"><span class="blue-text">Provitalize</span> Formulated To Support Natural & Effective Weight Management</h4>
                                    <br>
                                    <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-3 sidepad-0 desktops">
                                <img class="w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle_1_header.png?16766849144238667293" />
                                
                            </div>

                            <div class="col-lg-3 col-md-6 sidepad-0 desktops">
                                <img class="w-100 tablet-hide" src="https://cdn.shopify.com/s/files/1/2060/5733/files/header_woman.png" />
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <hr class="mobiles">

                     <div class="container-fluid second-section sidepad-0 sidepad-tab">

                        <div class="row neg-marg-100">
                            <div class="col-lg-2"></div>
                            
                            <div class="col-lg-5 sidepad-0">
                                <div class="benefits headertopy headertopy-tab">
                                    <h2>Much More Than Just <br class="small-device-none">
                                    Ordinary Probiotics</h2><br>
                                    <p class="w-75">Probiotics can do more than just improve digestion, restore gut balance, and relieve stomach discomfort.<br><br>

                                    Recent research shows that probiotics can improve skin condition, boost immune functions and combat allergies.</p>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="container-fluid second-section sidepad-0">

                        <div class="row neg-marg-200 neg-marg-200-t">
                            <div class="col-lg-6"></div>
                            
                            <div class="col-lg-6 sidepad-0">
                                <div class="benefits">
                                    <img class="w-75 desktops float-r-tab" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bubble_1.png">
                                    <img class="w-100 mobiles" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bubble1.png?17148552408563743832">
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="container-fluid second-section sidepad-0">

                        <div class="row">
                            <div class="col-lg-5 sidepad-0 neg-marg-140 desktops tablet-hide">
                                <img class="w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle_2_side.png">
                            </div>
                            
                            <div class="col-lg-5 rightpad-0-m sidepad-tab push-col-12">
                                <div class="benefits benefit-m">
                                  <h2>Introducing Provitalize</h2>
                                    <h4>A Probiotic Formula Specifically Designed To Support Weight Management</h4>
                                    
                                    <p class="introprov-p-sm tablet-hide"><img class="mobiles ben-img introprov-tab introprov-m tablet-hide" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle1.png">Clinical studies have shown that there are 3 unique probiotic strains that support natural weight management: From boosting metabolism to reducing fat storage.</p>
                                    
                                    <br class="tablet-hide"><br class="tablet-hide">

                                    <p class="tablet-hide">Provitalize is a high-potency probiotic formulation that supports effective, natural weight management using these unique strains. It is also blended with herbs well-known for their nutritional and anti-inflammatory properties. This increases the formula's absorption and efficacy. <br><br>

                                    Taking 2 capsules of Provitalize every morning provides beneficial bacteria, vitamins and nutrients needed to support healthy weight.</p>

                                    <p class="introprov-p-sm tablets"><img class="tablets ben-img introprov-tab introprov-m bottle-side-landscape" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle1.png">Clinical studies have shown that there are 3 unique probiotic strains that support natural weight management: From boosting metabolism to reducing fat storage.
                                    
                                    <br><br>

                                    Provitalize is a high-potency probiotic formulation that supports effective, natural weight management using these unique strains. It is also blended with herbs well-known for their nutritional and anti-inflammatory properties. This increases the formula's absorption and efficacy. <br><br>

                                    Taking 2 capsules of Provitalize every morning provides beneficial bacteria, vitamins and nutrients needed to support healthy weight.</p>


                                    
                                </div>
                            </div>

                            <div class="col-lg-2"></div>
                            
                        </div>
                    </div>
                    
                    <hr class="wide-hide">    

                    <div class="container fourth-section neg-marg-100-wide">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="text-center">Provitalize - Formulated For Natural Weight Management</h2><br>
                                        
                                <p class="text-center"><img class="img-fluid desktops" src="https://cdn.shopify.com/s/files/1/2060/5733/files/latest_8ingre.jpg" /></p>
                                <img class="mobiles w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/t/6/assets/8-ingredients-MOBILE--min.png">
                            </div>
                        </div>
                    </div>

                    <div class="eighth-section">
                        <div class="container">
                            <div class="desktops tablet-d">
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2">
                                        <img class="img-fluid w-75" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-1_68c5a9cb-f4f5-48fc-89ef-f30488c1cea3.png" />
                                        <p>Keto, Paleo & Vegan Friendly</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <img class="img-fluid w-75" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-2_72a153ae-24b5-4f08-b2c8-2b0382f82287.png" />
                                        <p>Non-GMO & Stimulant Free</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <img class="img-fluid w-75" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-3_0f51e77c-ac1c-4c40-b039-fc7db3c26ae2.png" />
                                        <p>GMP Facility Certified</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <img class="img-fluid w-75" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-4_a3630d8c-2671-4c8d-b3fc-6bd03e37fce1.png" />
                                        <p>Based On Clinical Studies</p>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                            </div>

                            <div class="mobiles tablet-m keto-sect-m keto-tab-icon">
                                <div class="row">
                                    
                                    <div class="col-xs-6 w-50">
                                        <p class="text-center"><img class="img-fluid w-50 keto-icon-m" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-1_68c5a9cb-f4f5-48fc-89ef-f30488c1cea3.png" /></p>
                                        <p class="keto-text-m">Keto, Paleo & Vegan Friendly</p>
                                    </div>
                                    <div class="col-xs-6 w-50">
                                        <p class="text-center"><img class="img-fluid w-50 keto-icon-m" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-2_72a153ae-24b5-4f08-b2c8-2b0382f82287.png" /></p>
                                        <p class="keto-text-m">Non-GMO & Stimulant Free</p>
                                    </div>
                                </div><br>
                                <div class="row">

                                    <div class="col-xs-6 w-50">
                                        <p class="text-center"><img class="img-fluid w-50 keto-icon-m" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-3_0f51e77c-ac1c-4c40-b039-fc7db3c26ae2.png" /></p>
                                        <p class="keto-text-m">GMP Facility Certified</p>
                                    </div>
                                    <div class="col-xs-6 w-50">
                                        <p class="text-center"><img class="img-fluid w-50 keto-icon-m" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-4_a3630d8c-2671-4c8d-b3fc-6bd03e37fce1.png" /></p>
                                        <p class="keto-text-m">Based On Clinical Studies</p>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <br>

                    <div class="cta text-center">
                        <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2 pillimage">
                                <img class="w-75" src="https://cdn.shopify.com/s/files/1/2060/5733/files/pill_1.png">
                            </div>
                            <div class="col-lg-9"></div>

                        </div>
                    </div>

                    <div class="container seventh-section neg-marg-200-">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="text-center pad20bottom">With Just 2 Capsules Every Morning</h2>
                                <img class="mobiles pill-m" src="https://cdn.shopify.com/s/files/1/2060/5733/files/pill1.png?11832017971636611103">
                            </div>
                            
                            <div class="col-lg-4 text-center pad20bottom">
                                <div class="card">
                                    <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.2.png" />
                                    <h3 class="subtitle easiersubtitle">Fire Up Metabolism</h3>
                                    <p class="text-content text-left">Researchers have found that specific strains of probiotics boost metabolism which support fat burning. Provitalize probiotics supports healthy metabolism with unique probiotic strains.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center pad20bottom">
                                <div class="card">
                                    <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.1_3938e1e3-3c4d-4c6c-a428-77accabde7a6.png" />
                                    <h3 class="subtitle easiersubtitle">Say No To Food Cravings & Snacking</h3>
                                    <p class="text-content text-left">Scientific studies show that gut microbes play a significant role in influencing cravings. Provitalize introduces good bacteria that helps better manage hunger pangs and cravings.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center pad20bottom">
                                <div class="card">
                                    <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/2.3.png" />
                                    <h3 class="subtitle easiersubtitle">Reduce Fat Storage</h3>
                                    <p class="text-content text-left">The gut's microbiome has also been proven to have an impact in reducing fat storage. Provitalize was specially formulated using specific probiotic strains that are clinically proven to better manage fat storage, which can positively impact weight.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center pad20bottom">
                                <div class="card">
                                    <img class="img-fluid w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/image_4.png" />
                                    <h3 class="subtitle easiersubtitle">Fight Inflammation and Joint Pain</h3>
                                    <p class="text-content text-left">By improving gut health, probiotics can help to reduce chronic inflammation and fight weight gain as well as other diseases. Turmeric (boosted with BioPerine®) has also been added to help alleviate the damage caused by free radicals and inflammation on the body. </p>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center pad20bottom">
                                <div class="card">
                                    <img class="img-fluid w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/image_6.png" />
                                    <h3 class="subtitle easiersubtitle">Soothe the Gut & Boost The Digestive System</h3>
                                    <p class="text-content text-left">Probiotics help to relieve gas, bloating, as well as other stomach and bowel issues. Many customers have shared that 2 capsules a day helps to keep them regular and able to benefit from all the nutrition in diets.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center pad20bottom">
                                <div class="card">
                                    <img class="img-fluid w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/image_5.png" />
                                    <h3 class="subtitle easiersubtitle">Keep Bugs and Illnesses at Bay</h3>
                                    <p class="text-content text-left">Over 80% of the immune system resides in the GI tract. When the gut is healthy, it provides a protective barrier within the colon and intestines. Provitalize introduces beneficial bacteria in the gut to support healthy immune balance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="container fifth-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="headline text-center">How Does Provitalize Work?</h1>
      <p class="text-content">Our gut bacteria plays a bigger role in weight management when we previously thought. Here's how Provitalize works.</p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/comic1-01.png?17490708899066752075" />
      <p clss="description">Specific Probiotics Impact Stubborn Fat</p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/comic1-02.png?17490708899066752075" />
      <p clss="description">Natural Herbs Help With Cravings</p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/comic1-03.png?17490708899066752075" />
      <p clss="description">Ingredient Boosters Support Absorption</p>
    </div>
  </div>
</div> -->

                    <hr id="how">
                    <div class="container sixth-section">
                        
                            <div class="col-lg-12">
                                <h2 class="text-center padbottom15-tab">Experience The Full Benefits Of Probiotics With Additional Natural Weight Management Support</h2>
                            </div>
                    </div>
                    <img class="img-fluid mobiles tablet-m landscape-tab-bottle" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle_3_bowl.png" />
                    <div class="clearfix"></div>
                    <div class="container-fluid sixth-section sidepad-0">
                        <div class="row">
                            <div class="col-lg-2"></div>
            
                            <div class="col-lg-5 landscape-tab-text">
                                
                                    
                                    <p class="text-content text-left">Taking 2 capsules of Provitalize every morning allows the body to get into its most optimal weight management state.<br><br>

                                    We've designed Provitalize to contain only what the body needs to function at its best.<br><br>

                                    Provitalize uses safe, all-natural, and stimulant-free ingredients. It does not contain caffeine or synthetic weight loss ingredients that might carry side effects. This makes it ideal for long-term continuous consumption.<br><br>

                                    Here's the part you'll love - especially for keto and paleo dieters.<br><br>

                                    Provitalize also helps to enhance nutrient absorption from food so that the body gets the most out of diets without compromising them. </p>
                                
                            </div>
                            <div class="col-lg-5 sidepad-0">
                                
                                    <img class="img-fluid desktops tablet-d stretch-4-hd" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle_3_bowl.png" />
                                    
                            </div>
                        </div>
                    </div>
 
                    <div class="container-fluid second-section sidepad-0">

                        <div class="row neg-marg-140">
                            <div class="col-lg-6"></div>
                            
                            <div class="col-lg-4 sidepad-0">
                                <div class="bubble">
                                    <img class="w-80 bubble2-tab bubble2-tab-lansdcape" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bubble_2.png">
                                    
                                </div>
                            </div>
                            
                            <div class="col-lg-2"></div>    
                        </div>
                    </div>

                    <div class="container fourth-section whenitcomes">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>When It Comes to Effective, Natural Weight Management, The Precise Formula Matters</h2>
                                        
                                <h3>A truly effective weight management formula requires 3 things:</h3><br class="mobiles">
                                <div class="insidebox desktops tablet-d">
                                    <h4>Unique Probiotic Strains With Proven Weight Management Benefits</h4>
                                    <p class="w-75">We start with specific probiotic strains proven in clinical lab studies.</p><br>
                                    <p><img class="w-75" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_1.png"></p>
                                    <div class="row pad20bottom">
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_1.1.png" />
                                            L. Gasseri</h3>
                                            <p class="text-content">A study of 210 people showed an average 8.5% impact on weight after weeks of consuming L. Gasseri. (1)</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_1.2.png" />
                                            B. Breve</h3>
                                            <p class="text-content">B. Breve has shown to "activate" the gene that increases fat metabolism. It also helps with reducing inflammation and supporting healthy blood sugar levels.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_1.3.png" />
                                            B. Lactis</h3>
                                            <p class="text-content">B. Lactis, known as the “Booster Shot” of probiotics, has shown to combat tumor growths, enhance immunity and fight free radical while also support healthy cholesterol levels.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="insidebox mobiles tablet-m">
                                    <h4>Unique Probiotic Strains With Proven Weight Management Benefits</h4>
                                    <p class="w-75">We start with specific probiotic strains proven in clinical lab studies.</p><br>
                                    <img class="w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1.11.jpg?16731865238135726715">
                                    <p class="text-center"><img class="w-8" src="https://cdn.shopify.com/s/files/1/2060/5733/files/arrow1.png"></p>
                                    
                                    <div class="row pad20bottom">
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_1.1.png" />
                                            <h3 class="subtitle text-center">L. Gasseri</h3>
                                            <p class="text-content ing-text-m">A study of 210 people showed an average 8.5% impact on weight after weeks of consuming L. Gasseri. (1)</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_1.2.png" />
                                            <h3 class="subtitle text-center">B. Breve</h3>
                                            <p class="text-content ing-text-m">B. Breve has shown to "activate" the gene that increases fat metabolism. It also helps with reducing inflammation and supporting healthy blood sugar levels.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_1.3.png" />
                                            <h3 class="subtitle text-center">B. Lactis</h3>
                                            <p class="text-content ing-text-m">B. Lactis, known as the “Booster Shot” of probiotics, has shown to combat tumor growths, enhance immunity and fight free radical while also support healthy cholesterol levels.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr class="mobiles mob-divider">

                    <div class="container fourth-section">
                        <div class="row">
                            <div class="col-lg-12">
                                
                                <div class="insidebox desktops tablet-d">
                                    <h4>Herbal Ingredients For Additional Weight Management Support</h4>
                                    <p class="w-75">We've also added 3 additional herbs that work synergistically together with the probiotics for better weight management support. </p><br>
                                    <p><img class="w-75" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_2.png"></p>
                                    <div class="row pad20bottom">
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_2.1.png" />
                                            Turmeric</h3>
                                            <p class="text-content">Turmeric contains an active compound called curcumin, which has strong anti-inflammatory benefits: from alleviating joint pains, to supporting brain and liver health.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_2.2.png" />
                                            Moringa Leaf</h3>
                                            <p class="text-content">Moringa Leaf contains several vitamins that help to boost metabolism and reduce inflammation, which leads to better weight management. It has also been shown to support healthy blood sugar and cholesterol levels.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_2.3.png" />
                                            Curry Leaf</h3>
                                            <p class="text-content">Curry Leaf is rich in vital nutrients such as phosphorus, iron, vitamins A, B, C, E and more. It also improves digestion, maintains healthy cholesterol and helps regulate blood sugar levels.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="insidebox mobiles tablet-m">
                                    <h4>Herbal Ingredients For Additional Weight Management Support</h4>
                                    <p class="w-75">We've also added 3 additional herbs that work synergistically together with the probiotics for better weight management support. </p><br>
                                    <p><img class="w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1.22.jpg"></p>
                                    <p class="text-center"><img class="w-8" src="https://cdn.shopify.com/s/files/1/2060/5733/files/arrow1.png"></p>
                                    <div class="row pad20bottom">
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_2.1.png" />
                                            <h3 class="subtitle text-center">
                                            Turmeric</h3>
                                            <p class="text-content ing-text-m">Turmeric contains an active compound called curcumin, which has strong anti-inflammatory benefits: from alleviating joint pains, to supporting brain and liver health.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_2.2.png" />
                                            <h3 class="subtitle text-center">
                                            Moringa Leaf</h3>
                                            <p class="text-content ing-text-m">Moringa Leaf contains several vitamins that help to boost metabolism and reduce inflammation, which leads to better weight management. It has also been shown to support healthy blood sugar and cholesterol levels.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_2.3.png" />
                                            <h3 class="subtitle text-center">
                                            Curry Leaf</h3>
                                            <p class="text-content ing-text-m">Curry Leaf is rich in vital nutrients such as phosphorus, iron, vitamins A, B, C, E and more. It also improves digestion, maintains healthy cholesterol and helps regulate blood sugar levels.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mobiles mob-divider">

                    <div class="container fourth-section">
                        <div class="row">
                            <div class="col-lg-12">
                                
                                <div class="insidebox desktops tablet-d">
                                    <h4>Advanced Delivery Mechanisms for Maximum Delivery, Absorption
                                    and Bioavailability</h4>
                                    <p class="w-75">Many probiotics and weight loss supplements don't get fully absorbed by the body. To solve this problem, we've added 3 supplement technologies that allow for maximum formula absorption.</p><br>
                                    <p><img class="w-75" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_3.png"></p>
                                    <div class="row pad20bottom">
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_3.1.png" />
                                            BioPerine®</h3>
                                            <p class="text-content">BioPerine® is a patented form of piperine, a compound found in black pepper. Taking this together with curcumin increases its absorption and effectiveness.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_3.2.png" />
                                            Sunflower Lecithin</h3>
                                            <p class="text-content">Some nutrients and probiotics get absorbed better when they become fat soluble. Sunflower Lecithin helps the formula get fully absorbed into the body for maximum benefit.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h3 class="subtitle"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_3.3.png" />
                                            DRcaps™</h3>
                                            <p class="text-content">DRcaps™ is a trademarked delayed release capsule made from a special coating technology that protects against stomach acids. Especially critical for acid-sensitive ingredients like probiotic bacteria.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="insidebox mobiles tablet-m">
                                    <h4>Advanced Delivery Mechanisms for Maximum Delivery, Absorption
                                    and Bioavailability</h4>
                                    <p class="w-75">Many probiotics and weight loss supplements don't get fully absorbed by the body. To solve this problem, we've added 3 supplement technologies that allow for maximum formula absorption.</p><br>
                                    <p><img class="w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1.33.jpg"></p>
                                    <p class="text-center"><img class="w-8" src="https://cdn.shopify.com/s/files/1/2060/5733/files/arrow1.png"></p>
                                    <div class="row pad20bottom">
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_3.1.png" />
                                            <h3 class="subtitle text-center">
                                            BioPerine®</h3>
                                            <p class="text-content ing-text-m">BioPerine® is a patented form of piperine, a compound found in black pepper. Taking this together with curcumin increases its absorption and effectiveness.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_3.2.png" />
                                            <h3 class="subtitle text-center">
                                            Sunflower Lecithin</h3>
                                            <p class="text-content ing-text-m">Some nutrients and probiotics get absorbed better when they become fat soluble. Sunflower Lecithin helps the formula get fully absorbed into the body for maximum benefit.</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/ingredient_3.3.png" />
                                            <h3 class="subtitle text-center">
                                            DRcaps™</h3>
                                            <p class="text-content ing-text-m">DRcaps™ is a trademarked delayed release capsule made from a special coating technology that protects against stomach acids. Especially critical for acid-sensitive ingredients like probiotic bacteria.</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <hr class="mobiles mob-divider">

                    <hr id="ingredients">
                    <div class="tenth-section container pad20bottom">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="experience">Experience The Difference Today</h2>
                                <img class="img-fluid mobiles w-75 bottle-padding-m" src="https://cdn.shopify.com/s/files/1/2060/5733/files/reen-bottle-img-comp_fdf14dab-8682-4546-9370-ca4585a8f0a8.png" />
                                <p class="experience-p">Each Bottle contains a 30-day supply (60 capsules). Take 2 capsules every morning with or without food. Customers have observed the best effects when they take 2 capsules immediately after waking.</p>
                            </div>
                            <div class="col-md-6 col-lg-6 text-center">

                                <img class="img-fluid bottleimage" src="https://cdn.shopify.com/s/files/1/2060/5733/files/product-table-min.png" />
                                <p class="small-font">Store in a cool, dry place. Refrigeration is recommended but not required.</p>


                            </div>
                            <div class="col-md-6 col-lg-6 text-center desktops">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2060/5733/files/reen-bottle-img-comp_fdf14dab-8682-4546-9370-ca4585a8f0a8.png" />

                            </div>

                        </div>

                    </div>

                    <div class="cta text-center mobiles">
                        <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>
                    </div>

                    <hr id="reviews">
                    <div class="container-fluid second-section sidepad-0">

                        <div class="row">
                            <div class="col-lg-5 sidepad-0">
                                <img class="w-100 desktops tablet-d" src="https://cdn.shopify.com/s/files/1/2060/5733/files/testimonials.png">
                            </div>
                            
                            <div class="col-lg-5 formulated push-col-12">
                                <div class="benefits padtop-0">
                                  <h2>Formulated For Results </h2>
                                  <img class="w-75 mobiles tablet-m tablet-center-mar" src="https://cdn.shopify.com/s/files/1/2060/5733/files/testimonials.png">
                                    <h4>A Probiotic Formula Specifically Designed To Support Weight Management</h4>
                                    <p>When it comes to formulating, it's faster to combine the cheapest ingredients and hope for the best. But any informed consumer knows that this will not lead to useful results.<br><br>

                                    And when it comes to natural weight management, the most expensive solution is one that hasn't worked as it would be a waste of both time and money.<br><br>

                                    This is why we've sourced only the highest quality ingredients that are backed by science and clinical results.<br><br>

                                    And the results have paid for itself. Many customers have wrote in to share with us how Provitalize has better supported their weight management journey.<br><br><br class="mobiles">

                                    </p>
                                    
                                </div>
                            <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>
                            </div>
                            
                            <div class="col-lg-2"></div>
                            
                        </div>
                    </div>

                    <hr>

                    <div class="container-fluid second-section sidepad-0">

                        <div class="row neg-marg-140">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5">
                                <div class="benefits bubble3">
                                    <img class="desktops tablet-d" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bubble_3_fd9ccadc-05ce-4647-bb35-245219b15a8c.png">

                                    <img class="mobiles bubble3m tablet-m" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bubble_3.2.png?6073629544947158182">
                                    
                                </div>
                            </div>
                            
                            <div class="col-lg-6"></div>
                            
                        </div>

                        <div class="row pad20bottom neg-marg-140 neg-mar-40-m">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4">
                                <div class="realreviews">
                                    <h2>Real Reviews <br>From Provitalize <br>Customers</h2>
                                    <br class="mobiles">
                                </div>
                            </div>
                            
                            <div class="col-lg-4"><iframe width="936" height="527" src="https://www.youtube.com/embed/bl95Pjhbu8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            <div class="col-lg-2"></div>
                            
                        </div>

                        <div class="row pad20bottom">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 pad20bottom-m"><iframe width="936" height="527" src="https://www.youtube.com/embed/XjGheY1LENw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            
                            <div class="col-lg-4"><iframe width="936" height="527" src="https://www.youtube.com/embed/epVgE6GNIys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            <div class="col-lg-2"></div>
                            
                        </div>

                        <div class="row pad20bottom collapse" id="collapseVideo">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 pad20bottom-m"><iframe width="936" height="527" src="https://www.youtube.com/embed/WS-mZ15-1KU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            
                            <div class="col-lg-4"><iframe width="936" height="527" src="https://www.youtube.com/embed/8KKZ5lNX1do" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            <div class="col-lg-2"></div>
                            
                        </div>

                        <div class="row pad20bottom collapse" id="collapseVideo">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4 pad20bottom-m"><iframe width="936" height="527" src="https://www.youtube.com/embed/BsYe4kdG2dI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            <div class="col-lg-4"></div>
                            
                            
                            
                        </div>
                        <div class="videocta container">
                            <a data-toggle="collapse" href="#collapseVideo" aria-expanded="false" aria-controls="collapseVideo" id="hide">Click To Watch More Videos <i class="fas fa-caret-down"></i></a>
                        </div>
                    </div><br>



                    <div class="container fourth-section">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="text-center">More Reviews From Provitalize Customers</h2>
                                           
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                    <div class="okendo">
                                <!-- Okendo Review Widget -->
                                <div data-oke-reviews-widget=""></div>
                            </div> 
                    </div>
                    
                    <div class="cta text-center pad40bottom-m">
                                    <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>

                                </div>
                    

                        </div>
                    </div>

                    <div class="eighth-section satisfaction">
                        <div class="container">

                            <h2>Satisfaction Guaranteed</h2>
                            <h3>Try it risk-free</h3><br>
                            <p></p>
                            <p><img class="w-25" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-5_780f93c1-f22e-466e-bdd6-b96eaace7874.png"></p><br>
                            <p>We believe that the success of any brand lies in the number of happy customers they create.<br><br>

                            This is why your extreme satisfaction is our top priority. <br><br>

                            While many customers have gotten great results in quick time, we know that everyone's body is unique and supported with different lifestyles, diets and circumstances. Each person's results may vary greatly. Some might take longer time to experience the full benefits of Provitalize.<br><br>

                            This is why your purchase is backed by a "LOVE IT!", 60-day 100% money back guarantee. <br><br>

                            Give Provitalize a try for 60 days. If you're not satisfied, just give us a call or drop us an email at contact@betterbody.co. Our fantastic support staff will process the refund.<br><br>

                            Click on "Buy Now" to get your bottle(s) of Provitalize now.</p>

                        </div>
                        <div class="cta text-center">
                                    <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>
                                    <br>
                                </div>
                    </div>

                    

                    <hr id="pricetable"><br>

                    <div class="thirteen-section-desktop container-fluid sidepad-0">
                        <img class="img-fluid desktops" src="https://cdn.shopify.com/s/files/1/2060/5733/files/free_bar.png" />
                        
                    </div>

                    <div class="thirteen-section-mobile container-fluid sidepad-0">
                         <img class="img-fluid mobiles" src="https://cdn.shopify.com/s/files/1/2060/5733/files/free_bar_mobile.png">
                        
                    </div>

                     

                    <!-- Test price table -->
                    <div class="container tenth-section prices">
                        <div class="col-lg-12">
                            <p class="text-center"><img class="mobile-fullwidth" src="https://cdn.shopify.com/s/files/1/2060/5733/files/progress_bar_blue.png"></p><br class="mobiles">
                            <h2 class="text-center">Choose Your Option Below</h2>
                            <h1 class="headline text-center onetime">All Orders Are One-Time Purchases Only.</h1>
                            <p class="text-center">Rest assured that all orders made on this page are one-time purchases. This means that you will not be charged again in the subsequent months. There will not be any recurring billing or hidden charges. When you are ready to
                                reorder, you can purchase again from our website.</p>
                        </div>
                        <div class="row"> 
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <div class="option">
                                    <div class="option-title">
                                        <h3>30 Day Supply</h3>
                                        <span>1 Bottle</span>
                                    </div>
                                    <div class="option-price">
                                        <img class="img-fluid bottleimage" src="https://cdn.shopify.com/s/files/1/2060/5733/files/pro___1_for_price_table.png" />
                                        <h3 class="subtitle retail">Retail:<strike> $67</strike></h3>
                                        <span class="instant">Instant Savings: $27</span>
                                        <span class="price"><span class="dollarsign">$</span>40</span>
                                        <span class="perbottle">Per Bottle</span><br class="desktops"><br>
                                        <span class="period">+</span><br>
                                        <span><img class="bottle1" src="https://cdn.shopify.com/s/files/1/2060/5733/files/shipping_pt.png"></span><br><br>
                                        <a class="buynow ordernowbtn" href="/a/secure/checkout/07HeeCGFASWP7LGDvAyj"><i class="fa fa-shopping-cart hided-icon"></i> ONE TIME PURCHASE</a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <div class="option mid-table">
                                    <div class="option-title">
                                        <h3 style="color:white;">90 Day Supply</h3>
                                        <span style="color:white;">3 Bottles</span>
                                    </div>

                                    <div class="option-price">
                                        <img class="img-fluid bottleimage" src="https://cdn.shopify.com/s/files/1/2060/5733/files/pro___3_for_price_table_blue.png" />
                                        <h3 class="subtitle retail">Retail:<strike> $201</strike></h3>
                                        <span class="instant">Instant Savings: $111</span>
                                        <span class="price"><span class="dollarsign">$</span>30</span>
                                        <span class="perbottle">Per Bottle</span><br>
                                        <span class="totalbottles">($90 for 3 Bottles)</span><br class="desktops"><br>
                                        <span class="period">+</span><br class="desktops"><br>
                                        <span><img src="https://cdn.shopify.com/s/files/1/2060/5733/files/cookbook.png"></span><br>
                                        <span class="period">+</span><br><br class="desktops">
                                        <span><img src="https://cdn.shopify.com/s/files/1/2060/5733/files/free_shipping2-7.png"></span><br><br>
                                        <a class="buynow ordernowbtn" href="/a/secure/checkout/NU20tUJZoJX758CLKXiF"><i class="fa fa-shopping-cart hided-icon"></i> ONE TIME PURCHASE</a>
                                    </div>

                                    

                                    

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <div class="option">
                                    <div class="option-title">
                                        <h3>180 Day Supply</h3>
                                        <span>6 Bottles</span>
                                    </div>

                                    <div class="option-price">
                                        <img class="img-fluid bottleimage" src="https://cdn.shopify.com/s/files/1/2060/5733/files/pro___6_for_price_table.png" />
                                        <h3 class="subtitle retail">Retail:<strike> $402</strike></h3>
                                        <span class="instant">Instant Savings: $262</span>
                                        <span class="price"><span class="dollarsign">$</span>23</span>
                                        <span class="perbottle">Per Bottle</span><br>
                                        <span class="totalbottles">($140 for 6 Bottles)</span><br class="desktops"><br>
                                        <span class="period">+</span><br class="desktops"><br>
                                        <span><img src="https://cdn.shopify.com/s/files/1/2060/5733/files/cookbook.png"></span><br>
                                        <span class="period">+</span><br><br class="desktops">
                                        <span><img src="https://cdn.shopify.com/s/files/1/2060/5733/files/free_shipping2-7.png"></span><br><br>
                                        <a class="buynow ordernowbtn" href="/a/secure/checkout/4zSEbxOCOb6ahJvpJuvN"><i class="fa fa-shopping-cart hided-icon"></i></i> ONE TIME PURCHASE</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <img class="img-fluid desktops w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/security_badges_fordesktop.jpg" />
                    </div>
                    <!-- /.container -->

                    <div class="thirteen-section-mobile container-fluid sidepad-0">
                         <img class="img-fluid mobiles" src="https://cdn.shopify.com/s/files/1/2060/5733/files/security_badges_mobile_1.jpg?2697916188495489115">
                        
                    </div>


                    <div class="tenth-section container">
                        <div class="row pad20bottom">
                            <div class="col-lg-12">
                                <h2 class="text-center">Order With A Peace Of Mind</h2>
                                <p class="text-center padbottom30-tab">All orders made are one-time purchases only. This means that there won't be surprise charges again in the subsequent months. </p><br class="mobiles">
                            </div>
                            <div class="col-lg-4 col-md-4 text-center">
                                <img class="img-fluid w-25" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-6_65069b54-f333-4738-9432-94e08cd367ea.png" />
                                <h3 class="subtitle">No Recurring Charges</h3>
                                <p class="text-content peace-text-m">Save more when you order with us now as we're giving free shipping on our dime.</p><br class="mobiles">
                            </div>
                            <div class="col-lg-4 col-md-4 text-center">
                                <img class="img-fluid w-25" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-7_4127fcf1-8a86-4dc4-b1ee-8eec92a7267c.png" />
                                <h3 class="subtitle">60-Day 100% Money-back Guarantee</h3>
                                <p class="text-content peace-text-m">To enjoy Provitalize’s full benefits, most customers try it for 2-3 months to allow the probiotics to fully populate the gut. Try it for 60 days and if you're not satisfied, let us know and we'll process your refund.</p><br class="mobiles">
                            </div>
                            <div class="col-lg-4 col-md-4 text-center">
                                <img class="img-fluid w-25" src="https://cdn.shopify.com/s/files/1/2060/5733/files/icon-8.png" />
                                <h3 class="subtitle">Free Fast Shipping In US & Canada</h3>
                                <p class="text-content peace-text-m">Enjoy free shipping when you order today. Provitalize is manufactured and shipped from Georgia, USA. It should take between 2-7 business days for it to be delivered to your doorstep (for US & CA orders)</p>
                            </div>

                        </div>

                        <p class="text-center">Click on the button "Buy Now" below to get your bottle of Provitalize now!</p><br>

                        <div class="cta text-center pad20bottom">
                                    <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>
                                    
                                </div>
                    </div>

                            
                    <hr>
                    

                    <div class="container-fluid sixth-section sidepad-0 ordinary">
                        <div class="row">
                            <div class="col-lg-2"></div>
            
                            <div class="col-lg-6 sidepad-0-m sidepad-tab push-col-12 spoon-sect-tab">
                                
                                    <h3>How is Provitalize Different From Ordinary Probiotic Formulas?</h3>
                                    <img class="img-fluid mobiles w-75 tablet-m float-r-tab" src="https://cdn.shopify.com/s/files/1/2060/5733/files/spoon_with_pills.png" />
                                    <div class="clearfix"></div>
                                    <p class="text-content text-left pad40bottom-m">Different probiotic strains provide different benefits.<br><br>

                                    When it comes to weight loss, there are only certain types of probiotic strains that have been proven to aid weight loss.<br><br>

                                    Some common probiotic strains such as L. Acidophilus, while it helps with overall gut health, has been known to actually cause weight gain. <br><br>

                                    We have selected very specific probiotic strains like L. Gasseri, which has been proven in clinical studies to support weight management.<br><br>

                                    Experience the benefits of Provitalize risk-free with our 60-day satisfaction guarantee.</p>

                                    <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>
                              
                                
                            </div>
                            <div class="col-lg-4 sidepad-0">
                                
                                    <img class="img-fluid desktops tablet-d stretch-4-hd" src="https://cdn.shopify.com/s/files/1/2060/5733/files/spoon_with_pills.png" />
                                    
                            </div>
                        </div>
                    </div>


                    <hr><br>

                    <div class="container-fluid second-section sidepad-0">

                        <div class="row">
                            <div class="col-lg-4 sidepad-0">
                                <img class="w-100 desktops tablet-d" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle_4_fall.png">
                            </div>
                            
                            <div class="col-lg-6 push-col-12 spoon-sect-tab">
                                <div class="benefits">
                                  <h3>How is Provitalize different from other Weight Management Supplements?</h3>

                                  <img class="w-100 mobiles tablet-m bottle-sup-tab" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle_4_fall.png">
                                    
                                    <p class="pad20bottom pad40bottom-m">According to microbiome researchers, the types of gut bacteria we injest could have an impact on how body weight is managed.<br><br>

                                    Provitalize contains unique probiotic strains that has been proven to support healthy weight in clinical studies.<br><br>

                                    It also contains safe, 100% pure, all-natural ingredients that are stimulant-free.<br><br>

                                    Our customers have found Provitalize to be the solution to their weight management troubles! 

                                    </p>
                                    <a class="ctabutton" href="#pricetable" data-scroll>BUY NOW</a>
                                </div>
                            
                            </div>
                            
                            <div class="col-lg-2"></div>
                            
                        </div>
                    </div>

                    <br class="desktops"><hr>
                         


                    


                    <!-- <div class="thirteen-half container-fluid sidepad-0 mobiles">
  <img class="w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/supplement_mobile_1.png">
</div> -->
                    


                    <!-- <hr class="mobiles" id="ingredients2">

                    <img class="mobiles w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/1AD_turmeric_-_provitalize_1.png">
                    <div class="product-tabling">
                        <img class="mobiles w-100" src="https://cdn.shopify.com/s/files/1/2060/5733/files/product-table-min.png"></div> -->


                    <div class="container first-section">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="headline text-center">The Better Body Company</h2>
                                <p class="text-center"><img class="w-50 logo-resized company-logo-m" src="https://cdn.shopify.com/s/files/1/2060/5733/files/betterbody-logo.png?16650088754199765316"></p>
                                <p class="text-content w-75 company-bio-m">The Better Body Co. is a US based company that focuses on providing safe, all-natural effective solutions to everyday challenges through proven ingredients and technology.<br><br>

                                All our products are manufactured in GMP-certified facilities that have been verified by FDA for its accuracy and safety. This ensures that our customers receive only the best.<br><br>

                                If you have any other questions, do check out our FAQ section below.<br><br>

                                Alternatively, you can drop us an email  at contact@betterbody.co or give us a
                                call at +1-844-707-7730 (Mon to Fri, 10AM to 4PM CST)</p>
                            </div>
                        </div>
                    </div>

                    <hr class="faqhr">

                    <div class="container first-section">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="headline text-center introprov-p-sm">F.A.Q</h2>
                                <p class="text-content w-75 company-bio-m">Frequently asked questions regarding dosages, ingredients, medical conditions, product effectiveness, shipping, customer support and return policies.</p><br>
                            </div>
                            <div class="col-lg-12">
                                <div class="tab-content" id="faq-tab-content">
                                    <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                        <div class="accordion" id="accordion-tab-1">
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-1">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">What are the ingredients in Provitalize?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>Provitalize uses all-natural ingredients. Does not contain caffeine or stimulants.  It is also vegan, paleo and keto friendly.<br><br>

                                                        List of ingredients: L. Gasseri, B. Breve, B. Lactis, Turmeric, Moringa Leaf, Curry Leaf, BioPerine®, Sunflower Lecithin, DRcaps™.</p><br>

                                                            <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-2">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">What’s the difference between Provitalize & other probiotics?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>Different probiotic strains provide different benefits.<br><br>

                                                        When it comes to weight loss, there are only certain types of probiotic strains that have been proven to aid weight loss.<br><br>

                                                        We have selected very specific probiotic strains like L. Gasseri, which has been proven in clinical studies to support weight management.</p><br>

                                                            <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-3">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">How does Provitalize work?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>Provitalize contains unique probiotic strains and herbs that have been shown to support natural and effective weight management. <br><br>

                                                        For example, in a study on 210 people showed an average of 8.5% loss of body fat after 12 weeks of consuming L. Gasseri, without any changes to their lifestyle or diet.</p><br>

                                                            <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-4">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4">How fast should I expect to see results?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>Your results may vary depending on your lifestyle and gut health. Many customers start seeing results as early as 2 weeks.<br><br> 

                                                        However, everyone's body and lifestyle are different. Some might take longer to see similar results. Depending on the health of the gut, sometimes it can take up to 2 months for the probiotics to fully proliferate and self-multiply. Only then can you start seeing the full benefits. <br><br>

                                                        However most customers reported feeling less hungry, experience deeper energy and positive results in skin, hair, nails or joints within the first few consumptions.</p><br>

                                                            <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- </div> -->
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-5">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-5" aria-expanded="false" aria-controls="accordion-tab-1-content-5">I’m on specific medication, can I still try Provitalize?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-5" aria-labelledby="accordion-tab-1-heading-5" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>Provitalize contains all natural products. It shouldn’t interfere with most medications.<br><br>

                                                        However, due to its natural, potent anti-inflammatory effects, Provitalize should not be taken with NSAIDs, blood-thinners and Cox2-inhibitors. If you are on medication, in pregnancy, or suffer from any medical conditions, please inform your doctor your interest in taking Provitalize or any of our supplements.</p><br>

                                                            <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-6">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-6" aria-expanded="false" aria-controls="accordion-tab-1-content-6">How many servings are there in one bottle? How many capsules a day?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-6" aria-labelledby="accordion-tab-1-heading-6" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>Each bottle contains 30 servings. For best results take 2 capsules (1 serving) first thing in the morning with or without food.</p><br>

                                                            <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-7">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-7" aria-expanded="false" aria-controls="accordion-tab-1-content-7">How long is the delivery time?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-7" aria-labelledby="accordion-tab-1-heading-7" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>Once you’ve placed your order, it will be immediately shipping from our warehouse in Savannah, Georgia.<br><br>

                                                        From there it roughly takes roughly one to two weeks for it to arrive.<br><br>

                                                        Below is the estimated delivery timings<br><br>

                                                        Free Shipping:<br>
                                                        * 5 to 12 business days for orders within the US<br>
                                                        * 10 to 21 business days for orders outside of the US<br><br>

                                                        Expedited Shipping:<br>
                                                        * 1 to 4 business days for orders within the US<br>
                                                        * 5 to 9 business days for orders outside of the US
                                                        </p><br>

                                                            <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-8">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-8" aria-expanded="false" aria-controls="accordion-tab-1-content-8">I have trouble placing my order, who can I speak to?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-8" aria-labelledby="accordion-tab-1-heading-8" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>Please disable your pop-up blocker and try again. It could be interfering with the order process.<br><br>

                                                        Alternatively, you can contact us at:<br>
                                                        * Email us at Contact@betterbody.co<br>
                                                        * Drop us a Facebook message<br>
                                                        * Call us at +1-844-707-7730 (Mon to Fri, 10AM to 4PM CST)</p><br>

                                                            <!-- <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-9">
                                                    <h5>
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-9" aria-expanded="false" aria-controls="accordion-tab-1-content-9">I still have questions, how do I contact you?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-9" aria-labelledby="accordion-tab-1-heading-9" data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>
                                                            You can contact us via<br>
                                                            Email: contact@betterbody.co<br>
                                                            Online Contact Form: https://shop.betterbody.co/pages/contact-us<br>
                                                            Facebook Message: https://www.facebook.com/betterbodyco/<br>
                                                            Phone: +1-844-707-7730 (Mon to Fri, 10AM to 4PM CST)
                                                            </p><br>

                                                            <!-- <a href="#pricetable"><p class="faq-cta"><i class="fas fa-arrow-right"></i> Click Here To Get Yours Now</p></a> -->
                                                    </div>
                                                </div>
                                            </div>
                                            

                                        </div>
                                    </div>

                                </div>

                                <div class="cta text-center padtop40">
                                    <a class="ctabutton" href="#pricetable" data-scroll><i class="fas fa-arrow-right"></i> Try Provitalize</a>
                                </div>
                            </div>

    

                        </div>
                        <!-- Disclaimer -->
                        <div class="container tenth-section prices">
                            <div class="col-lg-12">
                                <h2 class="headline text-center introprov-p-sm">Disclaimer</h2>
                                <p class="disclaimer-text">These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any diseases. The weight loss and fitness testimonials presented apply only
                                    to the individuals depicted, cannot be guaranteed, and should not be considered typical. Every testimonial on this website is from a real customer who used the product Provitalize, and/or nutrition advice listed on
                                    the website. No one was paid for a testimonial or endorsement. Results (weight, body fat percentage, circumference measurements, etc.) were self-reported by the customer. You should assume that any results shown in
                                    testimonials, advertisements, stories, blog posts, articles, forums or anywhere else on this site or our associated websites are not typical. Results may vary from person to person based on body size and other factors.<br><br>                                    Due to its potent anti-inflammatory effects, Provitalize should not be taken with NSAIDs, blood-thinners and Cox2-inhibitors. If you are on medication or suffer from medical conditions, please consult your doctor before
                                    consuming Provitalize or any of our supplements.</p>
                            </div><br>
                            <div class="cta text-center">
                                <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="ctabutton2">Click Here To See References</a>
                            </div>
                        </div>

                        <div class="collapse" id="collapseExample">
                            <div class="card-none card-body">
                                <br><br>
                                <ol>
                                    <li>L Gasseri signals to the body to absorb less fat from the foods you eat (https://www.ncbi.nlm.nih.gov/pubmed/25884980)
                                    </li>
                                    <li>L Gasseri reduces the size of fat cells (http://www.ncbi.nlm.nih.gov/pubmed/18684338/)</li>
                                    <li>A study of 210 people took L. Gasseri over 12 weeks found they reduce weight, abdominal visceral fat (fat around the organs), BMI, waist and hip circumference. Belly fat reduced by 8.5% over 12 weeks of supplementation
                                        (http://www.ncbi.nlm.nih.gov/pubmed/23614897)
                                    </li>
                                    <li>A study of 87 Japanese adult took L. Gasseri for 12 weeks (https://www.ncbi.nlm.nih.gov/pubmed/20216555)
                                        <ul>
                                            <li>Abdominal visceral fat reduced by 5.8%</li>
                                            <li>Subcutaneous fat (fat under the skin) reduced by 3.3%</li>
                                            <li>Body weight reduced by 1.4%</li>
                                            <li>BMI reduced by 1.5%</li>
                                            <li>Waist reduced by 1.8%</li>
                                            <li>Hip reduced by 1.5%</li>
                                        </ul>
                                    </li>
                                    <li>L Gasseri reduces inflammation https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4891558/</li>
                                    <li>Body Weight Is Affected by Gut Bacteria http://www.ncbi.nlm.nih.gov/pubmed/16033867</li>
                                    <li>Obese people have different gut flora. Gut bacteria in overweight people is more efficient at extracting and storing energy from their diets http://www.ncbi.nlm.nih.gov/pubmed/16033867
                                    </li>
                                    <li>Some researchers have found that when intestinal bacteria from obese mice are transferred to lean mice, the lean mice gain weight http://www.ncbi.nlm.nih.gov/pubmed/17183312
                                    </li>
                                    <li>Consuming L Gasseri can colonize the intestines, changing the digestive environment and waste products http://www.ncbi.nlm.nih.gov/pubmed/11298228
                                    </li>
                                    <li>Gut bacteria affects fat absorption. Bacteria in the gut can increase the host’s ability to absorb fat and thereby harvest more calories from the diet. https://www.ncbi.nlm.nih.gov/pubmed/22980325
                                    </li>
                                    <li>Gut bacteria affect our metabolism https://www.nature.com/articles/ismej2016151</li>
                                    <li>Influence of the Microbiome on the Metabolism of Diet and Dietary Components https://www.ncbi.nlm.nih.gov/books/NBK154098/
                                    </li>
                                    <li>Expanding Role of Gut Microbiota in Lipid Metabolism https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5125441/
                                    </li>
                                    <li>Gut bacteria affect fat accumulation http://science.sciencemag.org/content/357/6354/912</li>
                                    <li>Excess calories stored in fat cells https://www.ncbi.nlm.nih.gov/pubmed/18454136</li>
                                    <li>Gut bacteria affects hormones https://www.ncbi.nlm.nih.gov/pubmed/27616451/</li>
                                    <li>Obese and lean twins have different gut bacteria https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2677729/
                                    </li>
                                    <li>Comparative meta-analysis of the effect of Lactobacillus species on weight gain in humans and animals https://www.sciencedirect.com/science/article/pii/S0882401012001106
                                    </li>
                                    <li>B Breve lowers fat mass https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4463018/</li>
                                    <li>B Breve reduced body weight gain and accumulation of visceral fat https://www.ncbi.nlm.nih.gov/pubmed/20699581
                                    </li>
                                    <li>B Lactis https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3265429/</li>
                                    <li>Targeting Inflammation-Induced Obesity and Metabolic Diseases by Curcumin and Other Nutraceuticals https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3144156/
                                    </li>

                                    <li>Curcumin and piperine supplementation of obese mice under caloric restriction modulates body fat and interleukin-1β https://nutritionandmetabolism.biomedcentral.com/articles/10.1186/s12986-018-0250-6
                                    </li>
                                    <li>Compound In Turmeric Spice May Stall Spread Of Fat Tissue https://www.sciencedaily.com/releases/2009/05/090522181238.htm
                                    </li>
                                    <li>Curcumin Mimics the Neurocognitive and Anti-Inflammatory Effects of Caloric Restriction in a Mouse</li>
                                    <li>Bioperine https://www.bioperine.com/index.php/salientfeatures</li>
                                    <li>Molecular mechanisms of the anti-obesity potential effect of Moringa oleifera in the experimental model https://www.sciencedirect.com/science/article/pii/S2221169116305238
                                    </li>
                                    <li>Isothiocyanate-rich Moringa oleifera extract reduces weight gain, and hepatic gluconeogenesis in mice https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4456298/
                                    </li>
                                    <li>Therapeutic Potential of Moringa oleifera Leaves in Chronic Hyperglycemia and Dyslipidemia: A Review. https://www.ncbi.nlm.nih.gov/pubmed/22403543
                                    </li>
                                    <li>Effects of Oral Administration of Moringa oleifera Lam on Glucose Tolerance in Goto-Kakizaki and Wistar Rats. https://www.ncbi.nlm.nih.gov/pubmed/18398501
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

    <div class="container-fluid sidepad-0 customfooter">
      <div class="row footerrow">
        <div class="col-lg-4 text-center">
          <img class="mobile-fullwidth" src="https://cdn.shopify.com/s/files/1/2060/5733/files/logo_mainsite.png">  
            
        </div>
        <div class="col-lg-4 text-center footercol">
            <h3>Stay Updated</h3>
            <ul>
              <li><p><a href="/blogs/health-articles">Blog</a></p></li>
              <li><p><a href="/pages/autoship-provitalize">Autoship</a></p></li>
              <li><p><a href="/pages/about">About Us</a></p></li>
              <li><p><a href="/pages/contact-us">Contact Us</a></p></li>
              <li><p><a href="/pages/money-back-guarantee">Our Guarantee</a></p></li>
              <li><p><a href="/pages/refund-policy">Our Refund Policy</a></p></li>
              <li><p><a href="/pages/betterbody-co-health-policy-disclaimer">Our Privacy Policy</a></p></li>
              <li><p><a href="/pages/disclaimers">Disclaimer</a></p></li>

            </ul>
        </div>
        <div class="col-lg-4 text-center footercol pad20bottom">
            <h3>Customer Services</h3>
            <p>Phone: (844) 707-7730 <br>
            Email: contact@betterbody.com<br>  
            Mon to Fri : 10AM to 4PM CST<br><br>
            
            <h3>Global Offices</h3>
            <h2>United States:</h2>
            <p>304 S. Jones Blvd,<br>
            Las Vegas, NV 89107</p><br><br>

            <h2>Singapore:</h2>
            <p>81 Ubi Avenue 4<br>
              #05-27 408830</p>
                      </div>
          </div>
    </div>


    
    <link rel="stylesheet" type="text/css" href="http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>

<script>

    // The function actually applying the offset
function offsetAnchor() {
  if (location.hash.length !== 0) {
    window.scrollTo(window.scrollX, window.scrollY - 80);
  }
}

// Captures click events of all a elements with href starting with #
$(document).on('click', 'a[href^="#"]', function(event) {
  // Click events are captured before hashchanges. Timeout
  // causes offsetAnchor to be called after the page jump.
  window.setTimeout(function() {
    offsetAnchor();
  }, 0);
});

// Set the offset when entering page with hash present in the url
window.setTimeout(offsetAnchor, 0);
</script>

<script>
    $(document).on('click', 'a[href^="#ingredients"]', function(event) {


    if ( $(window).width() < 480) {  
            $('.menu-item a').attr('id','#ingredients2');
        } 
});
</script>

<script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".logo");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

                if ( $(window).width() < 480) {      
                    if ($(this).scrollTop() > 100) { 
                         $('.logo img').attr('src','https://cdn.shopify.com/s/files/1/2060/5733/files/CTA_button_buy_now.png');
                         $('.fornav a').attr('href','#pricetable');

                    }
                    else if ($(this).scrollTop() < 100) { 
                        $('header img').attr('src','https://cdn.shopify.com/s/files/1/2060/5733/files/Logo_4c_150x_61ec6233-ccec-407c-bddd-fc12e9982cab.png');
                    } 
                } 
            });
        });
</script>

<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $(".videocta").hide();
  });
});
</script>



    <script src="{{ 'fastclick.js' | asset_url }}"></script>
    <script src="{{ 'scroll.js' | asset_url }}"></script>
    <script src="{{ 'fixed-responsive-nav.js' | asset_url }}"></script>
    
                        
</body>
