<!DOCTYPE html>
{% layout 'theme.provitalize' %} 

<!-- Hotjar Tracking Code for www.shop.betterbody.co -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:937504,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

 
 	<!-- Logo Start -->
    <div class="container logo">
        <div class="row start-xs">
            <div class="col-xs-12">
               <img src="//cdn.shopify.com/s/files/1/2060/5733/files/Logo_4c_150x_61ec6233-ccec-407c-bddd-fc12e9982cab_410x.png?v=1529120832" class="primary_logo" alt="Better Body Co." style="width:10% !important; padding-top:10px;">
              <!-- MH Meta Title and Decription -->
              <meta name="title" content="Shocking Reason Why Starvation Dieting Never Works | Better Body Co.">
              <meta name="description" content="It's not your fault that you bought a bagel on your way to work. See the real reason why dieting never works long-term, no matter how much you restrict your food choices, cut calories or exercise.">
            </div>
        </div>
    </div>
  
  
		<!-- Logo End -->
  
  
		<!-- Banner Start -->
	<div class="container banner">
    	<div class="col-xs-12">
          	<!-- Page Title -->
        	<!-- <div class="row center-xs">
				<div class="banner-title">
					<h2>Neuroscientists Discover Shocking Reason Why Starvation Dieting Never Works</h2>
				</div>
			</div> -->
            
          <!-- MH Page Large Title -->
          <style>
				@media screen and (min-width: 801px) {
  					div.page-large-title {
    					font-size: 32px;
  							}
						}

				@media screen and (max-width: 800px) {
 					 div.page-large-title {
    					font-size: 30px;
  							}
						}            
            
				@media screen and (max-width: 600px) {
 					 div.page-large-title {
    					font-size: 30px;
  							}
						}
          </style>
          
			<div class="row center-xs banner-headline">
					<div class="col-xs-12">
                      <div class="page-large-title"><b>Is A Mind Controlling Parasite To Blame For Your Food Cravings?</b></div>
                    </div>
			</div>
          
          <!-- Page Title -->  
			<!-- <div class="row center-xs banner-paragraph">
				<div class="col-xs-12">
					<p>Digestive health experts have developed a safe, natural way of wiping out this parasite for fewer food cravings and easier weight loss.<br> On this page discover exactly what it is and how to get it for yourself.</p>
				</div>
			</div>
             
                                      
              	<!-- Video Section -->
				<div class="row center-xs">
					<div class="col-lg-10 col-xs-12">
						<div class="banner-video"> 
                          
                          	<!-- Video -->
                            <script async src="//fast.wistia.com/embed/medias/gcfggmbnwg.jsonp"></script> 
							<script async src="//fast.wistia.com/assets/external/E-v1.js"></script>
							<div class="wistia_embed wistia_async_gcfggmbnwg autoPlay=false wmode=transparent playbar=false controlsVisibleOnLoad=false fullscreenButton=true playbackRateControl=false qualityControl=false videoFoam=true volumeControl=false captions=false smallPlayButton=false endVideoBehavior=loop settingsControl=false stillUrl={{'overweight.jpg'| asset_url}}" style="height:100%;width:100%; padding:0px !important;"></div>
                      
                            <!-- Stats -->             
                            <div class="row bottom-xs stats">

                                <!-- Views -->
                                <!--<div class="col-xs-6 col-md-6 video-views pad">-->
                                    <div class="row center-xs middle-xs col-xs-12 col-md-12 pad center-text">
                                       <img src="{{'play-button.svg'| asset_url }}" class="object">
                                  

                                        <p>132,493 Views</p>
                                    </div>
                                <!--</div>-->

							<div class="row center-xs middle-xs col-xs-12 col-md-12 pad center-text">
								<center>
									<img src="https://cdn.shopify.com/s/files/1/2060/5733/files/Logos-Betterbody-VSL-v5.png" class="logo-size">
								</center>
							</div>
                            </div>
                      	<!-- Stats end -->
                          
					</div>
				</div>
			</div>
          
          	<!-- End of Video -->
          
          </div>
      </div>
      <!-- End of Banner -->

	<!-- <div class="container">
		<div class="row white-bg">
			<center>
				<img src="https://cdn.shopify.com/s/files/1/2060/5733/files/Logos-Betterbody-VSL-v4.1.png" width="80%" height="80%">
			</center>
		</div>
    </div> -->
          
		<!-- #2 Add to cart -->
		<div class="row center-xs early-cta">   	
			<div class="container">                           
				<div class="row">
					<div class="col-md col-xs-12 center-xs">
						<div class="row center-xs">                   
							<!-- <a class="btn" href="#details"><span>Get Started Now</span><!-- <img src="{{'checkout.svg'asset_url}}" id="clock-svg" class="object"></a> 
							-->
                          	
                          	<!-- MH Grey button> -->
                          	<style>
                                      .grey-button {
          								  background-color: #c10707;
                                          color: white;
        								  padding: 20px;
       									  border: none;
         								  border-radius: 50px;
         								  font-size: 24px;
         								  font-weight: 700;
         								  width: 60%;
        								  margin-top: 10px;
                                          cursor: pointer;
      											  }
                              
                              		  .grey-button:hover {
                                          background-color: #ff162e;
                                      			  }
                                      @media only screen and (max-width: 765px) {
                                      		.grey-button{
                                      			width: 100%;
                                      		}
                                      }
                          	</style>
                          	<button class="grey-button" id="early-cta" onclick="location.href='#ingredients'">Get Started Now
							</button>                          	
                      	</div>
					</div>
				</div>
              
			
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Add to cart End -->

		<!-- #3 Video Details -->
		<div class="row center-xs">
			<div class="container">
              
              	<!-- Heading -->
				<div class="row center-xs pricing-headline middle-xs">
                  	<div class="col-xs-11">
						<h1>4 things you will learn today</h1>
                    </div>
				</div>
              
              
				<div class="row">
                  
					<!-- Card 1 Start -->
					<div class="col-md-6 col-xs-12 details">
						<div class="row detail-card middle-xs">
							<div class="col-md-3 col-xs-12">
								<div class="row center-xs start-md">
									<span><img src="{{'scale.svg'|asset_url}}" width="30"></span>
								</div>
							</div>
							<div class="col-md-9 col-xs-12">
                              <div class="row center-xs start-md">
								<p>Why dieting never works long-term, no matter how much you restrict your food choices, cut calories or exercise.</p>
                                </div>
							</div>
						</div>
					</div>
                  
                  <!-- Card 1 Start -->
					<div class="col-md-6 col-xs-12 details">
						<div class="row detail-card middle-xs">
							<div class="col-md-3 col-xs-12">
								<div class="row center-xs start-md">
									<span><img src="{{'fast-food.svg'|asset_url}}" width="30"></span>
								</div>
							</div>
							<div class="col-md-9 col-xs-12">
                              <div class="row center-xs start-md">
								<p>How a microscopic pest has taken control of the nerve from the stomach to the brain and forces people to crave fat creating junk food.</p>
								</div>
                            </div>
						</div>            
					</div>
                  
                  <!-- Card 1 Start -->
					<div class="col-md-6 col-xs-12 details">
						<div class="row detail-card middle-xs">
							<div class="col-md-3 col-xs-12">
								<div class="row center-xs start-md">
									<span><img src="{{'bacteria.svg'|asset_url}}" width="30"></span>
								</div>
							</div>
							<div class="col-md-9 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
								<p>A protocol that fixes the 3 key reasons why all previous attempts to eradicate the parasite have failed.</p>
								</div>
                            </div>
						</div>
					</div>
                  
                  <!-- Card 1 Start -->
					<div class="col-md-6 col-xs-12 details">
						<div class="row detail-card middle-xs">
							<div class="col-md-3 col-xs-12">
								<div class="row center-xs start-md">
									<span><img src="{{'book.svg'|asset_url}}" width="30"></span>
								</div>
							</div>
							<div class="col-md-9 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
								<p>A recent breakthrough in microbiological science that has helped 12,000 people and counting to wipe out this parasite and to get down to their ideal weight without starvation dieting.</p>
							  </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Vide Details End -->

		<!-- Ingredients Section -->
		<div class="row center-xs" id="ingredients">
			<div class="container">
              
              	<!-- Heading -->
				<div class="row center-xs pricing-headline middle-xs">
                  	<div class="col-xs-11">
						<h1>8 Super Ingredients in One Supplement</h1>
                    </div>
				</div>

			</div>
			<div class="container ingdred">

				<!-- Ingredient Details 3 -->	
				<div class="row center-xs ing-details responsive">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								
									<img class="ingpic" src="{{'ingredients3.png'|asset_url}}">
							
							</div>
							<div class="col-md-8 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
                              	<h1>L. Gasseri SBT2055 (1 Billion CFUs)</h1>
								<p>L. gasseri is a probiotic strain that recently rose in popularity due to its weight-reducing, obesity and metabolic syndrome-combating properties.</p><br>

								<p>A study on 210 Japanese adults published in the British Journal of Nutrition in November 2013 found that this probiotic strain could help to decrease body weight. [15]</p><br>

								<p>The study showed that consumption for 12 weeks of fermented milk containing the probiotic strain, Lactobacillus Gasseri, resulted in substantially reduced abdominal fat.</p><br>

								<p>Another study published in the European Journal of Clinical Nutrition of 87 adults with a high BMI (Body Mass Index) and abdominal fat were given Lactobacillus Gasseri enriched milk for twelve weeks. The result of the study showed a decrease of abdominal fat, body weight and waist size. [16]</p>
								</div>
                            </div>
                            
						</div>
				</div>

			<!-- Ingredient Details 1 -->	
				<div class="row center-xs ing-details responsive">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								
									<img class="ingpic" src="{{'ingredients1.png'|asset_url}}">
							
							</div>
							<div class="col-md-8 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
                              	<h1>B. Breve IDCC4401 (50 Billion CFUs)</h1>
								<p>Clinical trials have shown that B. Breve helps to: </p>
									<ul class="circle">
									<li>Suppress bodyweight accumulation</li>
									<li>Lowers cholesterol</li>
									<li>Regulates blood sugar levels to prevent rapid weight gain</li>
									<li>Improve metabolic responses to sugar</li>
									<li>Regulates stress hormones</li>
									</ul>

									<p>As a bonus, B. Breve also stimulates your immune system, inhibits E. coli and suppresses the fungus Candida (responsible for yeast infections & a significant contributor to "leaky gut" syndrome). [17]</p>
								</div>
                            </div>
                            
						</div>
				</div>
				<!-- Ingredient Details 2 -->	
				<div class="row center-xs ing-details responsive">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								
									<img class="ingpic" src="{{'ingredients2.png'|asset_url}}">
							
							</div>
							<div class="col-md-8 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
                              	<h1>B. Lactis R101-8 (17.2 Billion CFUs)</h1>

								<p>This powerhouse probiotic strain plays a key role in your overall immunity. Clinical, randomized-controlled studies show that B. Lactis helps to improve digestive problems and has favorable effects on metabolism. [18]</p>
								<p>This strain helps to support: </p>

									<ul class="circle">
									<li>Healthy body-mass indexes</li>
									<li>Cholesterol levels</li>
									<li>Cardiovascular health levels</li>
									</ul>

									<p>We've hand-selected this particular strain to aid people easily prone to illness, infections and want to fight through flu season with confidence.</p>
								</div>
                            </div>
                            
						</div>
				</div>
				
				<!-- Ingredient Details 4 -->	
				<div class="row center-xs ing-details responsive">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								
									<img class="ingpic" src="{{'ingredients4.png'|asset_url}}">
							
							</div>
							<div class="col-md-8 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
                              	<h1>Turmeric Root Extract (350mg)</h1>
								<p>Once a staple in ancient Chinese and Ayurvedic medicine, remarkable healing powers can be extracted from turmeric root. Deep within turmeric, a naturally occurring chemical compound with body-mending properties can be found, called Curcumin.</p><br>
								<p>This bright yellow savior can help to fight harmful inflammation, increase antioxidant production and reduce the risk of heart disease.</p>
								</div>
                            </div>
                            
						</div>
				</div>
				<!-- Ingredient Details 5 -->	
				<div class="row center-xs ing-details responsive">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								
									<img class="ingpic" src="{{'ingredients5.png'|asset_url}}">
							
							</div>
							<div class="col-md-8 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
                              	<h1>Moringa Leaf Extract (350mg)</h1>
								<p>Moringa is beginning to gain more popularity as a new “superfood” for its highly nutritious profile and powerful anti-inflammatory, antioxidant, and tissue-protective properties among many other health benefits.</p><br> 
								<p>It has been tested as a treatment for Alzheimer’s disease, and with its high content of vitamins E and C, this miracle plant supports brain health and cognitive functions by fighting oxidation that leads to neuron degeneration.</p>
								</div>
                            </div>
                            
						</div>
				</div>
				<!-- Ingredient Details 6 -->	
				<div class="row center-xs ing-details responsive">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								
									<img class="ingpic" src="{{'ingredients6.png'|asset_url}}">
							
							</div>
							<div class="col-md-8 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
                              	<h1>Sunflower Lecithin (50mg)</h1>
								<p>This under-appreciated ingredient increases the effectiveness of the entire formula by making all the ingredients fat-soluble. What it simply means is that the benefits and nutrients doesn’t just run out in your urine. Instead, it stays in your body and is released slowly and steadily, as you need it.</p><br>
								<p>*Note: We use Lecithin from sunflower seeds as it is the only kind of lecithin that can be obtained raw and chemical-free.</p>
								</div>
                            </div>
                            
						</div>
				</div>
				<!-- Ingredient Details 7 -->	
				<div class="row center-xs ing-details responsive">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								
									<img class="ingpic" src="{{'ingredients7.png'|asset_url}}">
							
							</div>
							<div class="col-md-8 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
                              	<h1>BioPerine® (Piperine Extract) (3mg)</h1>
								<p>BioPerine can be described as curcumin’s crucial sidekick, supercharging the benefits of curcumin by 2000%. Used as a bioavailability booster for over 20 years, studies have shown that it also enhances absorption of other nutrients by at least 30%.</p><br> 
								<p>In order to get the most out of curcumin’s anti-inflammatory properties, the magic of BioPerine is a must-have ingredient.</p>
								</div>
                            </div>
                            
						</div>
				</div>
				<!-- Ingredient Details 8 -->	
				<div class="row center-xs ing-details responsive">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								
									<img class="ingpic" src="{{'ingredients8_.png'|asset_url}}">
							
							</div>
							<div class="col-md-8 col-xs-12 start-md center-xs">
                              <div class="row center-xs start-md">
                              	<h1>Curry Leaf Extract (150mg)</h1>
								<p>Mostly known as a hypolipidemic agent, curry leaf extract also contains several vitamins and minerals that are vital for proper body function, such as phosphorous, iron, vitamins C, vitamin A, B-vitamins, and vitamin E.</p><br>

								<p>It can also help fight diabetes, improve digestion, lower cholesterol, and even remedy "dead" and greying hair[19]. Another superfood that works brilliantly with all other herbs.</p>
																</div>
                            </div>
                            
						</div>
				</div>
					<p class="pinch">(Pinch to Zoom In)</p>
					<center><img class="responsive" src="{{ "8 ingredients.jpg" | asset_url }}"></center>

			</div>

		<!-- Ingredients Section End -->

		<!-- Next Section -->
		<div class="row center-xs" id="payments">
			<div class="container col-xs-12">
				<div class="row center-xs pricing-headline middle-xs">
					<h1>Limited Time Provitalize Deals</h1>
				</div>
			</div>
			<div class="container">
				<div class="row">                
					<div class="col-xs-12 col-sm-4 col-md-4" id="details">
							<div class="row center-xs blank"></div>
							<div class="pricing">
								<div class="inside">
									<div class="center-xs standard">
										<h1>Get 1 Bottle</h1>
									</div>
									<div class="center-xs title">
										<h4>For a small boost in weight management*</h4>
									</div>
									<div class="row">
										<div class="col-xs center-xs"><img src="{{'1-bottle.png'|asset_url}}"></div>
									</div>
									<div class="row table">
										<div class="col-xs center-xs">
											<div class="row center-xs middle-xs">
												<object data="{{'clock.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object>
												<p>1 Month Supply</p>
											</div>
										</div>
									</div>
									<div class="row table_blank">
										<div class="col-xs center-xs"></div>
									</div>
									<div class="center-xs">
										<h1>$67 per bottle</h1>
									</div>
									<div class="row add">
										<div class="col-xs center-xs">
											<div class="row center-xs">
                                                <button class="btn" id="add" name="add" onclick="window.location.href='/a/secure/checkout/kH3QtbmXJ1UPFBKSb5B5'"><span>Add To Cart</span><object data="{{'checkout.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object></button>

											</div>
										</div>
									</div>
								</div>
							</div>
						
					</div><!-- End of Card -->	
						
						<div class="col-xs-12 col-sm-4 col-md-4">
							
							<div class="row center-xs popular">
								<h2>MOST POPULAR</h2>
							</div>
							<div class="pricing">
								<div class="inside">
									<div class="center-xs best_value">
										<h1>Get 4 Bottles</h1>
									</div>
									<div class="center-xs title">
										<h4>For sustainable longer-term results*</h4>
									</div>
									<div class="row">
										<div class="col-xs center-xs"><img src="{{'4-bottle.png'|asset_url}}"></div>
									</div>
									<div class="row table">
										<div class="col-xs center-xs">
											<div class="row center-xs middle-xs">
												<object data="{{'clock.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object>
												<p>4 Month Supply (Save $196)</p>
											</div>
										</div>
									</div>
									<div class="row table">
										<div class="col-xs center-xs">
											<div class="row center-xs middle-xs">
												<object data="{{'bottle.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object>
												<p>$49.95 Per Bottle</p>
											</div>
										</div>
									</div>
									<div class="center-xs">
										<h1>$199.00</h1>
									</div>
									<div class="row add">
										<div class="col-xs center-xs">
											<div class="row center-xs">
                                                <button class="btn" id="add" name="add" onclick="window.location.href='/a/secure/checkout/bfwJ0PUweirXfvPUOiFi'"><span>Add To Cart</span><object data="{{'checkout.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object></button>

                                              
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div><!-- End of Card -->
					
						<div class="col-xs-12 col-sm-4 col-md-4">
						
							<div class="row center-xs blank"></div>
							<div class="pricing">
								<div class="inside">
									<div class="center-xs standard">
										<h1>Get 2 Bottles</h1>
									</div>
									<div class="center-xs title">
										<h4>For short-term weight management*</h4>
									</div>
									<div class="row">
										<div class="col-xs center-xs"><img src="{{'2-bottle.png'|asset_url}}"></div>
									</div>
									<div class="row table">
										<div class="col-xs center-xs">
											<div class="row center-xs middle-xs">
												<object data="{{'clock.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object>
												<p>2 Month Supply (Save $79)</p>
											</div>
										</div>
									</div>
									<div class="row table">
										<div class="col-xs center-xs">
											<div class="row center-xs middle-xs">
												<object data="{{'bottle.svg'|asset_url}}" id="bottle-svg" type="image/svg+xml">
												</object>
												<p>$59.95 Per Bottle</p>
											</div>
										</div>
									</div>
									<div class="center-xs">
										<h1>$119.00</h1>
									</div>
									<div class="row add">
										<div class="col-xs center-xs">
											<div class="row center-xs">
                                                <button class="btn" id="add" name="add" onclick="window.location.href='/a/secure/checkout/D12vwQ32E5ajGz28kQNa'"><span>Add To Cart</span><object data="{{'checkout.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object></button>
                                              
                                           
												
											</div>
										</div>
									</div>
								</div>
							</div>
								
						</div>
					
				</div>
			</div><!-- End of Card -->

         </div> 
          
          <!-- #2 Payment Info-->
			<div class="row center-xs payment" id="info">
				<div class="container">
					<div class="row inner">
						<div class="col-md col-xs-12 center-xs">
							<div class="row card">
								<div class="col-md-3 col-xs-12 center-xs box-inner">
									<div class="row start-xs">
										<div class="col-md-12 col-xs-12 center-xs">
											<div class="row start-xs lable">
												<div class="col-md-12 col-xs-12 start-md center-xs">
													<p><b>Site is secured by:</b></p>
												</div>
											</div>
											<div class="row start-xs middle-xs payment-border">
												<div class="col-md-6 col-xs-6">
													<div class="row center-xs set-height-two">
														<object data="{{'truste.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
														</object>
													</div>
												</div>
												<div class="col-md-6 col-xs-6">
													<div class="row center-xs set-height-two">
														<object data="{{'mcafee.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
														</object>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- Section -->
								<div class="col-md-3 col-xs-12 center-xs box-inner">
									<div class="row start-xs">
										<div class="col-md-12 col-xs-12 center-xs">
											<div class="row start-xs lable">
												<div class="col-md-12 col-xs-12 center-xs start-md">
													<p><b>Our trusted payment processors:</b></p>
												</div>
											</div>
											<div class="row start-xs middle-xs payment-border">
												<div class="col-md-4 col-xs-4">
													<div class="row center-xs set-height">
														<object data="{{'visa.svg'| asset_url }}" id="clock-svg" type="image/svg+xml">
														</object>
													</div>
												</div>
												<div class="col-md-4 col-xs-4">
													<div class="row center-xs set height">
														<object data="{{'mastercard.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
														</object>
													</div>
												</div>
												<div class="col-md-4 col-xs-4">
													<div class="row center-xs set-height">
														<object data="{{'paypal.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
														</object>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Section -->
								<div class="col-md-6 col-xs-12 center-x ssl">
									<div class="row start-xs middle-xs payment-border">
										<div class="col-md-2 col-xs-12">
											<div class="row center-xs">
												<object data="{{'ssl.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object>
											</div>
										</div>
										<div class="col-8-xs col-md-10 center-xs start-md ssl-content">
											<p>We use a 256-bit secure shopping cart where 100% of your data is encrypted, safe and secure. This is the same data security standard used by most banks, governments and military organisations.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Payment Info -->

			<div class="container col-xs-12">
				<div class="row center-xs pricing-headline middle-xs">
					<h1>Real Reviews From Real Customers</h1>
				</div>
			</div>

			<!-- MH 3 Review Videos -->
			<style>
			* {
			    box-sizing: border-box;
			}
			  
			  /* Create three equal columns that floats next to each other */
			.column {
			    float: left;
			    width: 33.33%;
			    height: 100%;
			    padding: 10px;
			}

			/* Clear floats after the columns */
			.row:after {
			    content: "";
			    display: table;
			    clear: both;
			}

			/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
			@media screen and (max-width: 800px) {
			    .column {
			        width: 100%;
			    }
			}
			</style>

			<div class="container" id="info">
				<div class="row">
				  	<div class="column">
				    	<div data-block-wrapper>
						    <center>
						      <iframe width="100%" height="280" src="https://www.youtube.com/embed/XjGheY1LENw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						    </center>
				    	</div>
				  	</div>
				  	<div class="column">
					    <center>
					      <iframe width="100%" height="280" src="https://www.youtube.com/embed/BsYe4kdG2dI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					    </center>
				  	</div>
				    <div class="column">
					    <center>
					      <iframe width="100%" height="280" src="https://www.youtube.com/embed/epVgE6GNIys" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					    </center>
				  	</div>
				</div>
			

			
				<div class="row left-aligned" id="info">
			<!-- Okendo Review Widget -->
					<div data-oke-reviews-widget></div>
                </div>
			
			<!-- Okendo Review Widget -->

			</div>

			<div class="container" id="info">
				<div class="row">

                  	<div class="row center-xs">
						<div class="container col-xs-12">
                  			<div class="row center-xs pricing-headline middle-xs">
                            	<h1>Frequently Asked Questions</h1>
				  			</div>
                        </div> 
                  	</div> 
                          
                          
					<div class="popular left-aligned">                  
		           		<h2><strong>1. Why should I take Provitalize instead of other weight loss supplements?</strong></h2>
                      	<br/>
                      <div>Unlike most supplements that merely treat the symptoms of obesity and leave users wondering why they are not losing weight, Provitalize was specially designed to target the root cause of obesity by reducing brain inflammation and correcting your gut flora, allowing you to <b>experience real results in the long term</b>.</div>
						<div>&nbsp;</div>
						<div>Its formulation includes 3 probiotic strains L. gasseri, B. breve and B. lactis, all of which had proven in clinical studies to combat harmful bacteria and disrupt fat formation. On top of that, Provitalize comes with natural plant-based ingredients which serve as potent anti-inflammatory and antioxidants to ensure your body is functionally able to burn stubborn fat.</div>
						<div>&nbsp;</div>
                      <div>Most other weight loss supplements that get digested in the stomach before they get to exert their effects, due to our harsh stomach acids. Provitalize is encapsulated in a special DRCaps<img class="emoji" title=":tm:" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=" alt="&trade;" data-emoji-string=":tm:" /> capsule, and protects its own ingredients from being destroyed by stomach acid, allowing them to <b>exert their effects fully</b> over a long period of time.</div>
						<div>&nbsp;</div>
                      <div>Provitalize comes with premium grade Bioperine, a special black pepper extract that <b>drastically boosts the absorption and potency</b> of all the ingredients in Provitalize. Most other weight loss supplements get excreted as they are not readily absorbed, but with Provitalize you enjoy the maximum benefits the ingredients have to offer.</div>
                      	<br/>
                        <br/>                    	
						<h2><strong>2. Can I take Provitalize with medications?</strong></h2>
						<br/>
                      	<div>If you are on medication, in pregnancy, or suffer from any medical conditions, please inform your doctor your interest in taking Provitalize or any of our supplements.</div>
						<div>&nbsp;</div>
						<div>Provitalize possesses natural anti-inflammatory effects that have been shown to be as strong as anti-inflammatory medications. Thus it should not be taken with NSAIDs (non-steroidal anti-inflammatory drugs), blood-thinners and Cox2-inhibitors.</div>
						<div>&nbsp;</div>
						<div>Made entirely from organic plant-based ingredients, free from soy, nuts, gluten and lactose, Provitalize is safe for most dietary restrictions, like vegan and paleo diets.</div>
                      	<br/>
                      	<br/>
						<h2><strong>3. How do I know it's working?</strong></h2>
                        <br/>
						<div>Customers have told us they experienced</div>
							<ul>
							<li>&nbsp;&bull;&nbsp;A reduction of stubborn fat in their waist and a huge drop in their weight</li>
							<li>&nbsp;&bull;&nbsp;Great reduction in body pain, such as in the joints</li>
							<li>&nbsp;&bull;&nbsp;Notably reduced snack cravings and being able to smaller portions</li>
							<li>&nbsp;&bull;&nbsp;Improved digestion and gut health</li>
							<li>&nbsp;&bull;&nbsp;Feeling more energetic and being able to live productively</li>
							<li>&nbsp;&bull;&nbsp;Better immunity and less prone to falling ill</li>
							</ul>
                      	<br/>
						<h2><strong>4. I have poor diet &amp; exercise habits... will this work for me?</strong></h2>
                        <br/>
						<div>Most people don&rsquo;t get to exercise because they lack energy and their joints hurt from inflammation. Poor diet comes from uncontrollable food cravings brought on by all the toxins in our gut, which leads to digestive issues that further blocks your fat-burning metabolism.</div>
						<div>&nbsp;</div>
						<div>When Provitalize corrects your gut flora, reduces your body's inflammation while unlocking your body's fat-burning metabolism, you will naturally feel the energy and get the body like when you were in your teens.</div>
                      	<br/>
                      	<br/>
						<h2><strong>5. Is the guarantee real?</strong></h2>
                        <br/>
						<div>Yes. After you click the button below and place your order, you can return an empty bottle within 60 days of your purchase and still get 100% of your purchase price back. Provitalize works for you, or it's free.</div>
                   </div>
                  <br/><br/><br/><br/><br/><br/><br/><br/>
                  
              	</div>
  			</div>                  
                  

			<!-- Guarentee -->
			<div class="row center-xs guarentee" id="guarentee">
				<div class="container">
					<div class="row middle-xs">
						<div class="col-md-6 col-xs-12 start-md center-xs last-xs first-md">
							<div class="row center-xs start-md content">
								<div class="col-md col-xs-12">
									<h1>All Orders Are Protected By Our 100% Money Back, 60-Day Guarantee</h1><br>
									<p>Order right now with confidence! At The Better Body Co., we take your results seriously. We stand behind every product we make. So, one of our core beliefs is that you should NEVER have to pay for something that doesn’t work for you. That’s why we’ll give you 60 days to try Provitalize, absolutely risk-free.<br>
									<br>
									Try Provitalize and if it doesn’t work for you, you’ll get your money back! There’s absolutely no-risk in giving it a try.</p>
									<div class="row button-pad">
										<div class="col-md col-xs-12 start-xs">
											<div class="row center-xs start-md">
												<a class="btn" href="#details"><span>Checkout Now</span> <object data="{{'checkout.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
												</object></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-12 start-md fist-xs last-md">
							<div class="row end-md center-xs"><img src="{{'guarentee.png'|asset_url}}"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Guarentee End -->
		<!-- Refference -->
		<div class="row center-xs refference">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-12 start-md center-xs">
						<div class="row middle-xs">
							<div class="col-xs-12 col-md-4">
								<div class="row start-md center-xs">
									<object data="{{'reference.svg'|asset_url}}" id="clock-svg" type="image/svg+xml">
									</object>
								</div>
							</div>
							<div class="col-xs-12 col-md-8">
								<div class="row start-md center-xs">
									<h1>Research & Studies Cited</h1>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-xs-12 start-md start-xs line-down">
						<div class="line row">
							<div class="line-pad">
								<ul>
									<li class="link"><b>1.</b> https://www.theatlantic.com/health/archive/2014/08/your-gut-bacteria-want-you-to-eat-a-cupcake/378702/</li>
									<li style="list-style: none"><br></li>
									<li><b>2. Is eating behavior manipulated by the gastrointestinal microbiota?</b><br>
									<br>
									Evolutionary pressures and potential mechanisms. BioEssays, 2014. Mosley, Michael. The Clever Guts Diet: How to Revolutionise Your Body from the Inside Out (p. 273). Short Books. Kindle Edition.</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>3.</b> https://www.scientificamerican.com/article/how-gut-bacteria-tell-their-hosts-what-to-eat/</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>4.</b> https://www.scientificamerican.com/article/the-obesity-plague-and-antibiotics/</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>5.</b> https://draxe.com/candida-symptoms/</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>6.</b> https://bodyecology.com/articles/goodbye-sugar-cravings-what-drives-sugar-cravings-and-how-to-overcome-them</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>7.</b> https://bodyecology.com/articles/goodbye-sugar-cravings-what-drives-sugar-cravings-and-how-to-overcome-them</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>8</b>. https://bodyecology.com/articles/goodbye-sugar-cravings-what-drives-sugar-cravings-and-how-to-overcome-them</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>9</b>. https://www.motherjones.com/environment/2013/11/maps-antibiotics-prescriptions-obesity-states/</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>10</b>. https://www.spinehealth.com/medications-laxatives.php</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>11</b>. http://www.probioticsone.com/content/Study3.pdf</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>12</b>. https://www.ncbi.nlm.nih.gov/pubmed/26592847</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b><b>13</b>. B.Breve & Immunity (Probiotics Function On Immune System)</b><br>
									<br>
									https://www.ncbi.nlm.nih.gov/pubmed/19442167</li>
									<li style="list-style: none"><br></li>
									<li><b>14</b>. C-reactive Protein & B.Breve (Randomised Controlled Trial)<br>
									<br>
									https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4463018/</li>
									<li style="list-style: none"><br></li>
									<li class="link"><b>15</b>. L.Gasseri SBT 2055 & Fermented Milk (Randomise Controlled Trial)<br>
                                    <br>  
                                    https://www.ncbi.nlm.nih.gov/pubmed/27126957</li>
                                  	<li style="list-style: none"><br></li>
									<li class="link"><b>16</b>. L. Gasseri SBT 2055 (Regulation Of Abdominal Adiposity)<br>
                                    <br>  
                                    https://www.ncbi.nlm.nih.gov/pubmed/20216555</li>
                                  	<li style="list-style: none"><br></li>
									<li class="link"><b>17</b>. Mukherjee PK, Sendid B, Hoarau G, et al. Mycobiota in gastrointestinal diseases. Nat Rev Gastroenterol Hepatol. 2015 Feb;12(2):77-87. doi: 10.1038/nrgastro.2014.188.</li>
                                  	<li style="list-style: none"><br></li>
									<li class="link"><b>18</b>. B.Breve & Immunity (Probiotics Function On Immune System)<br>
                                    <br>  
                                    https://www.ncbi.nlm.nih.gov/pubmed/19442167</li>
                                    <li style="list-style: none"><br></li>
									<li class="link"><b>19</b>. Curry Leaf & Hair,<br>
                                    <br>  
                                    https://www.practo.com/healthfeed/amazing-benefits-of-curry-leaves-for-your-hair-10427/post</li>  
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- Refference End -->
	<!-- Footer -->

	<div class="row footer">
      <div class="col-xs-12">
		<div class="container">
			
              <div class="row">
				<div class="col-md-6 col-xs-12 start-md center-xs"><img src="{{'company-logo.png'| asset_url }}"></div>
				<div class="col-md-6 col-xs-12 start-md center-xs">
					<p><b>Disclaimer</b> - This presentation has not been approved by the FDA. Always speak to your doctor before making changes to your diet or taking supplements that may interfere with your medication. Provitalize does not treat any disease.</p>
				</div>
			</div>
     </div>
		</div>
	</div><!-- Footer End -->


</html>
