<!DOCTYPE html>

<head>
  
   <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NWQKKBG');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="trustpilot-one-time-domain-verification-id" content="LbgqT9fj1SHwN1Ncg8xEJdcHUCXgIUkNvcO7IwjU"/>

    <title>Product Page - Inergy</title>
   <style>.header , #header{display:none !important;}</style>

    {{ 'inergy.css' | asset_url | stylesheet_tag }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<section id="header_section">
    
   <div class="bblogo">
        <img src="https://cdn.shopify.com/s/files/1/2060/5733/files/Logo_4c_150x_61ec6233-ccec-407c-bddd-fc12e9982cab.png" alt="">
    </div>
  
    <div class="contacts">
        <p><img class="width10-phone" src="https://cdn.shopify.com/s/files/1/2060/5733/files/phone.png"> +1-844-707-7730<br>
            <span class="small-fs">Mon to Fri | 10AM to 4PM CST</span></p>

        <div class="socialshare">
            <iframe class="i-socialshare" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbetterbodyco%2F&width=74&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId=272230563314627" width="74" height="21" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

        </div>
    </div>

    <br>
    <div class="bg-img header-mob-space">
        <div class="col-md-9 pad0">
            <h1>inergyPLUS: Enjoy Long-Lasting, Natural Energy All Day Without The "Caffeine Crash"</h1>
            <img class="mobile bottle-mobile" src="https://cdn.shopify.com/s/files/1/2060/5733/files/bottle_image_c625511c-25e7-4e64-b975-4c8feda70ef3.png">

            <h2>Experience The Benefits Of Drinking 2 Cups Of Coffee, Without The Side Effects</h2>
            <hr class="mobile">
            <ul>
                <li>Instant boost to mental alertness, focus & concentration</li>
                <li>Clear thinking & mental clarity</li>
                <li>High motivation & drive</li>
                <li>Low stress & anxiety</li>
                <li>Accelerated metabolism & weight loss</li>
                <li>Enhanced physical endurance & performance</li>
            </ul>
            <br>

            <p class="pickmeup">The Perfect “Pick Me Up”</p>
            <p class="width70">For heavy coffee drinkers, inergyPLUS can also be used as an energy amplifier, greatly increasing the benefit of caffeine while reducing the “caffeine crash”.</p><br>
            <div class="nocaffeine pad0">
                <div class="col-md-6">
                <ul class="header-icon">
                    
                    <li><div class="header-icon-nocaffeine header-icon"></div> No Caffeine or Stimulant</li>
                
                    
                    <li><div class="header-icon-noelevation header-icon"></div> No Elevated Heart Rate, Jitters or Crash</li>
       
                    
                    <li><div class="header-icon-calendar header-icon"></div> Ideal For Daily Consumption</li>

                </ul>
                </div>
                <div class="col-md-6">
                <br><br>
                <a class="C_btn" href="#first-CTA-anchor">LEARN HOW IT WORKS</a>
                </div>
            </div>
            <!-- <img class="mobile_view" src="https://cdn.shopify.com/s/files/1/2060/5733/files/main-top-bottle.png" alt="bottole images"> -->
        </div>
        <div class="col-md-3">
            <div class="video_section">
                
            </div>
        </div>
    </div>

</section>
<script>
    $(window).on('load resize', function () {

        let disclaimerWidth = $("#disclaimer").innerWidth();
        let headerWidth = $("#header_section").innerWidth();
        const screenWidth = window.screen.width;
        let headerBgScale = (screenWidth / headerWidth) - .018;
        let disclaimerBgScale = (screenWidth / disclaimerWidth) - .018;
        // console.log(headerBgWidth);

        let styleElem = document.head.appendChild(document.createElement("style"));
        styleElem.innerHTML = "#header_section:after {transform: scale(" + headerBgScale + ", 1); -ms-transform: scale(" + headerBgScale + ", 1); -webkit-transform: scale(" + headerBgScale + ", 1);}" +
            "#disclaimer:after {transform: scale(" + disclaimerBgScale + ", 1); -ms-transform: scale(" + disclaimerBgScale + ", 1); -webkit-transform: scale(" + disclaimerBgScale + ", 1);}" +
            "#hidden-mech:after {transform: scale(" + disclaimerBgScale + ", 1); -ms-transform: scale(" + disclaimerBgScale + ", 1); -webkit-transform: scale(" + disclaimerBgScale + ", 1);}" + 
            "#hidden-mech2:after {transform: scale(" + disclaimerBgScale + ", 1); -ms-transform: scale(" + disclaimerBgScale + ", 1); -webkit-transform: scale(" + disclaimerBgScale + ", 1);}";
    });

</script>


<!-- Static Testimonial  1-->
<section class="pad-bottom-0">
    <div class="static-test col-md-12">

        <div class="row testicontainer">
            
            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 2 May 2018</p>
                <h2>“No More Morning Fatigue!”</h2>
                <p>“It has been 3 months since I started taking Inergy.</p><br>
                <p>My morning fatigue has diminished amazingly. I’ve full of energy throughout the day.</p><br>
                <p>Even my husband said I seem to be happier and more “alive” these days.”</p><br>

                <p><strong class="namaste">- Betty H, Housewife</strong></p>
            </div> <!-- /testibody -->
            <div class="col-md-3 testipic">
                <div class="testi-heads-testipic1 testiheads"></div>
            </div> <!-- /testipic -->
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-3 testipic">
                <div class="testi-heads-testipic2 testiheads"></div>
            </div> <!-- /testipic -->

            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 19 May 2018</p>
                <h2>“Fully Focused For Hours Without Getting Distracted!”</h2>
                <p>“Take this with a cup of coffee for a 8 hours of productive work!</p><br>

                <p>I’ve been looking for an energy supplement to help me be more focus at work. Researched on a few of them, but decided to give this a try.</p><br>

                <p>When I take inergy with my coffee, i’m able to fully focused at work for hours without getting distracted, which says a lot because I work in an open office!</p><br>

                <p>What I really like about this is I don’t have feel jitters or crash at the end of the day, just like promised!</p><br>

                <p>The long-term health benefit is great for me as well. Even on my off days, I feel calm and attentive. My wife noticed that I am in better mood these days!</p><br> 

                <p>Highly recommend if you need that extra mental boost.”</p><br>

                <p><strong class="namaste">- Alex C, Oklahoma</strong></p>
            </div> <!-- /testibody -->
            
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 3 June 2018</p>
                <h2>“Improvement In Overall Energy”</h2>
                <p>“Never knew what I have been missing until I started taking this product!</p><br>

                <p>I saw this on fb and I thought it’s quite interesting. I was curious to see what kind of effects it will have on me and whether it really work.</p><br>

                <p>I’m happy to report back and this stuff is really good.</p><br>

                <p>I’m on my third week now and I definitely experience an improvement in my overall energy. My skin is clearer. No more brain fog in the morning. Not sure if this is related, but I’ve lost 6lbs recently. The combination seems to be perfect for a working mum like me. It’s also worth the money for the benefits I’m getting.</p><br>

                <p>Highly recommended! If you’re on the fence, you should at least give it a try once!”</p><br>

                <p><strong class="namaste">- Jenn S, Working Mom, Denver</strong></p>
            </div> <!-- /testibody -->
            <div class="col-md-3 testipic">
                <div class="testi-heads-testipic3 testiheads"></div>
            </div> <!-- /testipic -->
        </div> <!-- /testicontainer -->

    </div>

</section>

<hr>

    <div class="backed">
        <p class="paracenter">
            <a class="tnb-1 C_btn" href="#priceAnchor">TRY INERGYPLUS NOW</a>
        </p>
    </div>

<br><br>
<!-- What is InergyPLUS? -->
<section>
    <div class="whatisprov">
        <h1>What is InergyPLUS?</h1>
        <p class="paracenter"><img class="width50" src="https://cdn.shopify.com/s/files/1/2060/5733/files/sleeping_guy_with_coffee.png"></p>
    
        <p>InergyPLUS is for anyone who feels tired all the time, constantly need to rely on caffeine or sugar to stay awake and alert throughout the day.</p><br>

        <p>It contains essential ingredients that improve the body’s internal energy production.</p><br>

        <p>Research shows that constant tiredness, brain fog and negative mood are a result of an impaired energy production.</p><br>
    </div>
</section>


<!-- 4 Ways How Our Gut Bacteria Affect Our Weight -->
<section>
    <div class="how-gut">
        <h1>The Real Reason Some People Feel Tired all The Time (And Can’t Survive Without Caffeine)
</h1>
          <div>
            <div class="col-md-8">

                <p>Ever wonder why some people have more “energy” than others? Always feel wide awake and alert throughout the day? Always able to accomplish what they set out to do?</p><br>

                <p>Why are some people able to have high energy throughout the day while the rest of us require 3, 4 or even more than 5 cups of coffee just to keep us awake?</p><br>

                <p>If you feel tired all the time, require several cups of coffee, energy drinks or sugary food just to survive the day, then you need to first understand where our energy comes from.</p><br>
            </div>
            <div class="col-md-4">
                <img src="https://cdn.shopify.com/s/files/1/2060/5733/files/energy-level.png">
            </div>
          </div>
          
    </div><br><br>
  </section>
<!-- The Hidden Mechanism That Affect Weight Loss -->
<section id="hidden-mech2">
    <div class="hidden-mech">
        <h1>The Hidden Mechanism That Affects Our Energy Level - Our Mitochondria</h1><br>
        
         <div>
             <div class="col-md-5">

                <img src="https://cdn.shopify.com/s/files/1/2060/5733/files/mitochondria.png">
            </div>
            <div class="col-md-7">
                

                <p class="mid-text">Our body is made up of trillions of cells. Each cell contains an energy power generator called the mitochondria.</p>
            </div>
         </div><br>
         <div class="clearfix"></div>

            <p>Think of it like a car engine. It converts the food (fuel) we eat into energy that powers our body.</p><br>

            <p>In a healthy body, these mitochondria provide us with enough energy to power our brain, heart, organs and muscles. To put it simply, it allows us to live our lives and perform our daily tasks.</p><br>

            <img src="https://cdn.shopify.com/s/files/1/2060/5733/files/mitochondria-info.png"><br><br>

            <p>People with high energy have healthy mitochondria that provide them with the energy they need throughout the day.</p><br>

            <p>But stress, toxins, inflammation and free radicals caused by our diet, environment and lifestyle can damage our mitochondria.</p><br><br>

            <img src="https://cdn.shopify.com/s/files/1/2060/5733/files/damaged_mitochondria.png"><br><br>

            <p>When our mitochondria are damaged, our energy production is impaired. Our body becomes less efficient at converting food into energy, which means that there’s not enough energy to sustain us. (Like a damaged car engine that doesn’t function properly)</p><br><br>

            <div>
                <div class="col-md-5">

                    <img src="https://cdn.shopify.com/s/files/1/2060/5733/files/tired-girl.png">

                </div>
                <div class="col-md-7"> 

                    <p class="mid-text2">This is the reason why we feel tired all the time - because our body is no longer able to produce enough energy to sustain us.</p><br>

                    <p>We start to feel more tired each day. Less awake and alert. We get moody and stressed easily. Unable to keep up with the demands of our job, relationships and family.</p>

                </div>
            </div>

            <div class="clearfix"></div><br><br>

            <div>
                
                <div class="col-md-8"> 

                    <p class="mid-text3">So we rely on caffeine and sugar to get through the day. But here’s the thing: What caffeine does is to give us the illusion of energy. It doesn’t give us more energy. It only makes us feel less tired temporarily. And when the caffeine effect wears off, we experience “caffeine crash” and need more caffeine to keep us going.</p>

                </div>

                <div class="col-md-4">

                    <img class="hidden-mech" src="https://cdn.shopify.com/s/files/1/2060/5733/files/sugar-temp-caffeine.png">

                </div>

         </div>
            
    </div><br><br>
</section>

<!-- <section id="hidden-mech">
   
</section> -->

<hr>

<!-- Designing The Perfect Probiotic Supplement For Weight Loss -->
<section>
    <div class="designing">
        <h1>Why It’s Important To Have Healthy Mitochondria</h1>
        <p>Damaged mitochondria not only make us feel tired all the time, but it also has other severe consequences on other aspects of our health. </p><br>

        <p>Studies show that damaged mitochondria have been associated with:</p><br>

        <div>

            <div class="col-md-4">
                <div class="mito-pic-acceleratedaging"></div><br>
                <p class="paracenter">
                    Accelerated aging
                </p>
            </div>
            <div class="col-md-4">
                <div class="mito-pic-continuousweightgain"></div><br>
                <p class="paracenter">
                    Continuous weight gain
                </p>
            </div>
            <div class="col-md-4">
                <div class="mito-pic-neudisease"></div><br>
                <p class="paracenter">
                    Neurodegenerative disease
                </p>
            </div>
            

        </div>
        
        <br>
        <div class="clearfix"></div>
        <br>

        <div>

            <div class="col-md-4">
                
                <div class="mito-pic-musculardegen"></div><br>
                <p class="paracenter">
                    Muscular degeneration
                </p>
            </div>
            <div class="col-md-4">
                <div class="mito-pic-heartdisease"></div><br>
                <p class="paracenter">
                    Heart Disease
                </p>
            </div>
            <div class="col-md-4">
                <div class="mito-pic-diabetes hidden-mech"></div><br>
                <p class="paracenter">
                    Diabetes
                </p>
            </div>
            

        </div>

        
    </div>
</section>

<br><br>
<hr>
<!-- Provitalize: Formulated for Maximum Fat Loss -->
<section>
  <div id="first-CTA-anchor"></div>
    <div class="fomulated">
        <h1>What If We Could Have Long-Lasting Natural Energy Throughout The Day?</h1>
        
        <p>Imagine having full of energy to sustain us every day, feeling wide awake and alert, full of focus and concentration, allowing us to be fully present and do the things we want whenever we want.</p><br>

        <p>This is what our body has been designed to do. And it all begins with having healthy mitochondria.</p><br>

        <img src="https://cdn.shopify.com/s/files/1/2060/5733/files/healthy_mito.png">
    </div>
</section>

<div class="backed">
        <p class="paracenter">
            <a class="tnb-1 C_btn" href="#priceAnchor">TRY INERGYPLUS NOW</a>
        </p>
    </div>

<br><br>

<!-- Backed By Science and Clinical Studies -->
<section>
    <div class="backed">
        <h1>How We Designed The Ideal Natural Energy Supplement</h1>
        <p>To achieve long lasting natural energy, our body must be able to rely on its own internal energy production.</p><br>

        <p>Unfortunately, most energy supplements focus on using artificial stimulants that go for short term energy boosts.</p><br>

        <p>This however can create negative side effects (like "caffeine crashes", anxiety, elevated heart rate, jitters and end-day exhaustion).</p>
        <br><br>

        <h2>With our team’s in-depth knowledge on the body’s complex energy production system, we followed a strict evidence-based process:</h2>
        
        <div>

            <div class="col-md-4">
                
                <div class="backed-backedpic1"></div><br>
                
            </div>
            <div class="col-md-4">
                <div class="backed-backedpic2"></div><br>
                
            </div>
            <div class="col-md-4">
                <div class="backed-backedpic3"></div><br>
                
            </div>
            

        </div>

        <h2>...And identified 3 key pillars for designing the most powerful, yet safe, natural and effective energy support formula.</h2>

        <div>

            <div class="col-md-4">
                
                <div class="bg-backedpic4"></div><br>
                
            </div>
            <div class="col-md-4">
                <div class="bg-backedpic5"></div><br>
                
            </div>
            <div class="col-md-4">
                <div class="bg-backedpic6"></div><br>
                
            </div>
            

        </div>

        <p>To ensure that it’s beneficial for long term consumption, we also ensure that it has:</p>

        <ul class="beneficial">
            <li><span style="color: rgb(237, 9, 0);">✘</span> No sugar</li>
            <li><span style="color: rgb(237, 9, 0);">✘</span> No caffeine</li>
            <li><span style="color: rgb(237, 9, 0);">✘</span> No stimulant</li>
            <li><span style="color: rgb(237, 9, 0);">✘</span> No negative side effects</li>
            <li><span style="color: rgb(237, 9, 0);">✘</span> No elevated heart rate, crash or jitters</li>
            <li><span style="color: rgb(67, 190, 0);">✔</span> Support daily activity and lifestyle</li>
            <li><span style="color: rgb(67, 190, 0);">✔</span> Promote natural energy production from within</li>
            
        </ul>

    </div>
</section>

<hr>

<!-- The Science Behind Provitalize -->
<section>
    <div class="science">
      
        <h1>inergyPLUS: Formulated For Long Lasting Natural Energy</h1>
        
        <p class="paracenter"><img class="width50" src="https://cdn.shopify.com/s/files/1/2060/5733/files/longlasting.png"></p>

        <h1>Backed By Science And Clinical Studies</h1>

        <div>
            <div class="col-sm-2"><div class='sprite backed-icon1'></div></div>
            <div class="col-sm-10">
                <h3>Repair Energy Production:</h3>
                <p>Damaged energy production is the root cause of low energy. Repairing the energy production will help us to produce long-lasting energy from within.</p>
            </div>
        </div>
        <hr>
        <div>
            <div class="col-sm-2"><div class='sprite backed-icon2'></div></div>
            <div class="col-sm-10">
                <h3>Reduce Fatigue And Stress:</h3>
                <p>Instantly reduce fatigue and alleviate stress will help us to feel better and perform better in our daily tasks.</p>
            </div>
        </div>
        <hr>
        <div>
            <div class="col-sm-2"><div class='sprite backed-icon3'></div></div>
            <div class="col-sm-10">
                <h3>Recharge Mental Energy:</h3>
                <p>Instantly boost focus, attention and alertness for hours without crash. And also amplifies the effect of caffeine while reducing caffeine crash.</p>
            </div>
        </div>
    </div>
</section>

<!-- Static Testimonial 2-->
<section class="pad-bottom-0">
    <div class="static-test col-md-12">

        <div class="row testicontainer">
            
            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 18 July 2018</p>
                <h2>“Better Focus, Sharper Mind And More Energy.”</h2>
                <p>“Inergy has helped me to have better focus, a sharper mind and more overall energy.</p><br>
                <p>I feel like I have a lot more energy. I have also started becoming more active, and have lost about 6lbs since i started taking.</p><br>
                <p>I’ve tried a lot of products that have made great claims, but none have given me what I needed. Inergy is perfect for me.”</p><br>

                <p><strong class="namaste">- Diane S, Austin</strong></p>
            </div> <!-- /testibody -->
            <div class="col-md-3 testipic">
                <div class="testihead2-testipic4 testiheads"></div>
            </div> <!-- /testipic -->
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-3 testipic">
                <div class="testihead2-testipic5 testiheads"></div>
            </div> <!-- /testipic -->

            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>29 July 2018</p>
                <h2>“Did Not Disappoint.”</h2>
                <p>“I didn’t have high hopes for it. When I first saw it on Facebook, i thought it was another caffeine pills. But it said there wasn’t any caffeine.</p><br>

                <p>After taking it for 2 weeks, i found that I have more energy throughout the day. I’m also sleeping better now, which is another side benefit. Definitely did not disappoint!”</p><br>

                <p><strong class="namaste">- Lorraine A. Austin</strong></p>
            </div> <!-- /testibody -->
            
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 4 August 2018</p>
                <h2>“A Must Have.”</h2>
                <p>““I hardly take supplements but have made an exception for inergyPLUS for its heart support. I also like that it gives me more energy and make me more active throughout the day.</p><br>

                <p>I’ve used this product for a while now and consider it an important part of my daily routine. If you found yourself needing more energy, I believe this is a must have.”</p><br>

                <p><strong class="namaste">- Mary J, High School teacher, NY.</strong></p>
            </div> <!-- /testibody -->
            <div class="col-md-3 testipic">
                <div class="testihead2-testipic6 testiheads"></div>
            </div> <!-- /testipic -->
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-3 testipic">
                <div class="testihead2-testipic7 testiheads"></div>
            </div> <!-- /testipic -->

            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>15 August 2018</p>
                <h2>“Taking this everyday for instant mental boost and anti-stress effect.”</h2>
                <p>“I started using this every day and found my energy levels rise. I was feeling so good I decided to take this every other day but the effects remains. The long-term benefit really works.</p><br>

                <p>I have started taking again every single day because of the instant mental boost and anti-stress effect.”</p><br>

                <p><strong class="namaste">- Gary Z, IT Engineer, San Diego</strong></p>
            </div> <!-- /testibody -->
            
        </div> <!-- /testicontainer -->

    </div>

</section>

<div class="backed">
        <p class="paracenter">
            <a class="tnb-1 C_btn" href="#priceAnchor">TRY INERGYPLUS NOW</a>
        </p>
    </div>

<hr>

<!-- The Science Behind inergyPLUS -->
<section>
    <div class="maximum-del">
        <h1>The Science Behind inergyPLUS</h1>
        <p>inergyPLUS contains 13 carefully chosen ingredients that enhance the body’s own natural energy production while providing an instant boost to mental and physical performance.</p><br>

        <p>The first 4 ingredients focus on improving mitochondria function so that the body becomes more efficient at producing energy.</p>
    

    <div>
        <div class="col-sm-4"><div class="ingredientish-ingredient1 inblocker"></div></div>
        <div class="col-sm-8">
            <h2>CoQ10 (Coenzyme Q10) - The Energy Generator</h2>
            <p>CoQ10 is a natural, vitamin-like compound that all cells need in order to make energy. To put it simply, our body can’t produce energy without CoQ10.</p></br>

            <p>Unfortunately, CoQ10 levels in our body drop as we age. This is one of the big reasons why our body produces less energy over time.</p><br>

            <p>Studies show that daily oral intake of CoQ10 for 2 months has been shown to increase circulating blood levels of CoQ10 and significant improvement in “energetic vigor”.</p></br>

            <p>Other benefits of taking CoQ10:<br>
            • Support heart function<br>
            • Reduce inflammation<br>
            • Improve memory and brain functions<br>
            • Prevent free radical damage</p>
        </div>
    </div>
    <hr>
    <div>
        <div class="col-sm-4"><div class="ingredientish-ingredient2 inblocker"></div></div>
        <div class="col-sm-8">
            <h2>PQQ (pyrroloquinoline quinone) - Mitochondria Rejuvenator</h2>
            <p>Remember how our mitochondria is responsible for producing energy in the body (aka the “car engine”)?</p><br>

            <p>Scientists have found that taking PQQ helps the body to create new mitochondria.</p><br>

            <p>A study performed by researchers at the University of California, Davis, found that within just eight weeks of taking PQQ, the number of healthy mitochondria more than doubled. That’s like having more cylinders to the car engine, allow the car to go faster and longer.</p><br>

            <p>Besides creating more mitochondria, PQQ has been shown to have other amazing benefits like increased memory retention, improved brain function, and elevated mood. In fact, there are over 175 published studies showing the immense health benefits of PQQ.</p><br>

            <p>Proven health benefits include:<br>
            • Boost concentration, attention and working memory<br>
            • Reduce LDL cholesterol<br>
            • Improve sleep<br>
            • Neuroprotective against Alzheimer’s and Parkinson’s<br>
            • Reduce inflammation</p>
        </div>
    </div>
    <hr>
    <div>
        <div class="col-sm-4"><div class="ingredientish-ingredient3 inblocker"></div></div>
        <div class="col-sm-8">
            <h2>ALCAR (Acetyl-L-carnitine) - Metabolic Enhancer</h2>
            <p>ALCAR is an amino acid that also helps with energy production by stimulating the breakdown of fats into energy. But that’s not all it does.</p><br>

            <p>It is also a powerful antioxidant that supports brain functions. This is why ALCAR is becoming popular as a brain enhancer supplement.</p><br>

            <p>A study of 96 subjects who took ALCAR daily saw a significant boost to their physical and mental energy, as well as a boost in cognitive functions.</p>
        </div>
    </div>
    <hr>
    <div>
        <div class="col-sm-4"><div class="ingredientish-ingredient4 inblocker"></div></div>
        <div class="col-sm-8">
            <h2>Vitamin Bs - Energy Vitamins</h2>
            <p>B vitamins are often called the “energy vitamins” because of their important roles in the body’s energy production. A lack of B vitamins are often cause fatigue, irritability, poor concentration. If you constantly feel tired, there’s a good chance you’re not getting enough.</p><br>

            <p>The surest way to increase energy production in the body is to ensure that the body is not lacking in any. This is why inergyPLUS also contains 7 essential vitamin Bs (for a full list of vitamin Bs, see ingredient label below).</p>
        </div>
    </div>
    <hr>
    </div>
</section>


<!-- Additional Herbs To Fight Fatigue and Reduce Stress -->
<section>
    <div class="maximum-del">
        <h1>Additional Herbs To Fight Fatigue and Reduce Stress</h1>
        <p>Next, we added 2 powerful herbs that have been shown to greatly reduce fatigue and stress immediately while also enhancing the energy production in the long term.</p>
    

    <div>
        <div class="col-sm-4"><div class="ingredientish-ingredient5 inblocker"></div></div>
        <div class="col-sm-8">
            <h2>Cordyceps - Performance Enhancer</h2>
            <p>This mushroom has been used in the East for many centuries for its amazing energy boosting ability. It only started gaining popularity in the West after eight Chinese female runners, who broke multiple world records, credited Cordyceps for their extraordinary success.</p><br>

            <p>Today, many researchers believe Cordyceps to be the one of the most effective energy booster, performance enhancer and anti-aging herbs.</p><br>

            
        </div>
    </div>
    <hr>
    <div>
        <div class="col-sm-4"><div class="ingredientish-ingredient6 inblocker"></div></div>
        <div class="col-sm-8">
            <h2>Rhodiola - Anti-Fatigue Herb</h2>
            <p>Rhodiola is a natural herb that is best known for its amazing abilities to fight fatigue, lower stress levels and improve both mental and physical performance.</p><br>

            <p>Russian scientists have studied its benefit extensively for the past 70 years and have found that it decreases stress, fights fatigue, improves brain function, improve sleep quality, and supports healthy weight loss.</p><br>

        </div>
    </div>
    <hr>
    </div>
</section>

<!-- Additional Herbs To Fight Fatigue and Reduce Stress -->
<section>
    <div class="maximum-del">
        <h1>Special Ingredient: Instant Mental Booster</h1>
        <p>Finally, we added a rare natural ingredient that boost mental energy, improves motivation and fights brain fog.</p>
    

    <div>
        <div class="col-sm-4"><div class="ingredientish-ingredient7 inblocker"></div></div>
        <div class="col-sm-8">
            <h2>EnXtra® - Like Caffeine But Better</h2>
            
            <p>EnXtra® - Like Caffeine But Better</p>

            <p>EnXtra® is a trademarked, DNA-authenticated galanga (blue ginger) that provides fast, effective and safe energy.</p><br>

            <p>It is the first and only natural stimulant-free ingredient that has been clinically proven to increase alertness and focus by 30% for up to 5 hours without crash.</p><br>

            <p>When taken with caffeine, it amplifies and prolongs its benefits while also reducing crash and jitters.</p><br>

            
        </div>
    </div>
    <hr><br>

    <p class="paracenter"><img class="width50" src="https://cdn.shopify.com/s/files/1/2060/5733/files/supplement_table.png"></p>

    <h2 class="paracenter">Each bottle contains a total of 60 capsules or 30 servings (2 capsules per serving).</h2>

    <p>inergyPLUS is created with only the top quality ingredients. This is the main reason why it works so well.</p><br>

    <p>If you buy all 13 ingredients individually on Amazon, it will cost at least $135.</p><br>

    <p>Because we want to help as many Americans as possible, we’re not charging $80-$90 for this product.</p><br>

    <p>inergyPLUS is available for less than $40 per bottle, which is just slightly more than $1 a day.</p>
    
    </div>
</section>

<br>
<div class="backed">
        <p class="paracenter">
            <a class="tnb-1 C_btn" href="#priceAnchor">TRY INERGYPLUS NOW</a>
        </p>
    </div>

<hr>

<!-- Additional herbal ingredients for faster weight loss -->
<section>
    <div class="additional-herb">
        <h1>More Than Just A Normal Energy Supplement</h1>
        <p>inergyPLUS contains the essentials you need to be at your best every day… fuelling your brain… and restoring yourself to optimal health!</p>

        <div>
            <div class="col-sm-6 pad0">
                <ul class="en-supp">
                    <li><span class="light-orange">✔</span> Reduce fatigue</li>
                    <li><span class="light-orange">✔</span> Reduce stress</li>
                    <li><span class="light-orange">✔</span> Improve focus and attention</li>
                    <li><span class="light-orange">✔</span> Improve brain function and cognitive abilities</li>
                </ul>
            </div>

            <div class="col-sm-6 pad0">
                <ul class="en-supp">
                    <li><span class="light-orange">✔</span> Supports a healthy heart</li>
                    <li><span class="light-orange">✔</span> Slows aging</li>
                    <li><span class="light-orange">✔</span> Improve physical performance</li>
                    <li><span class="light-orange">✔</span> Improve sleep</li>
                </ul>
            </div>
        </div><br>

        <h2 class="paracenter">Based on 2000 customers after taking inergyPLUS for at least 3 months
        (these results are not typical. Your results can and will vary)</h2>

        <div>
            <div class="col-sm-6"><img src="https://cdn.shopify.com/s/files/1/2060/5733/files/graph1.png"></div>
            <div class="col-sm-6"><img src="https://cdn.shopify.com/s/files/1/2060/5733/files/graph2.png"></div>
        </div>
    </div>

</section>

<br><br>

<div class="backed">
        <p class="paracenter">
            <a class="tnb-1 C_btn" href="#priceAnchor">TRY INERGYPLUS NOW</a>
        </p>
    </div>

<br><br>

<!-- Guarantee -->
<section id="disclaimer">
    <div class="guarantee">
        <h1>Satisfaction Guaranteed</h1>
        <p class="paracenter"><img class="width20-fs" src="https://cdn01.zipify.com/images/000/732/125/original/1/60_days.png"></p>
        <p class="paracenter">We’ve put hundreds of hours and thousands of dollars of research into creating the most effective weight loss formula based on science.<br><br>
        However, it’s impossible for every individual to see amazing transformations in just a short period of time. Everyone’s biology is unique with differing lifestyles. Some might take time to see similar results.<br><br>
        This is why your purchase will be fully protected by a <b>60-day 100% money back guarantee</b>. We want to ensure that you’re fully satisfied or you get your money back. Give Provitalize a try for at least 2 months and if you don’t love it for any reason, we’ll refund the full amount you paid.
        </p><br><br><br>
    </div>
  </section>


<!-- Price Table 1 -->
<hr id="priceAnchor">
<section style="padding-bottom:50px;">
  <br>
    <div class="price-table">
<!-- 
        <h1>Buy Provitalize Now At Just $1 A Day</h1>
        <h4>ALL options below are <u>one-time purchases</u> only.<br>
        There will NOT be any recurring/subscription charges.</h4> -->
    
    <div class="logo-n-number col-md-12">
        <div class="col-md-4">
        <p class="paracenter"><img class="float-left" src="https://cdn.shopify.com/s/files/1/2060/5733/files/newnumber_iwth_logo.png"></p></div>
        <div class="col-md-8 pad0-m">
        <p class="paracenter"><img class="float-right timeline-img" src="https://cdn.shopify.com/s/files/1/2060/5733/files/prog-bar_orange.jpg"></p></div>
    </div>
    <div class="clearfix"></div><br>

    <section id="hidden-mech" class="free-shipping2">
        <h1 class="free-ex"><img class="rocket-img" src="https://cdn.shopify.com/s/files/1/2060/5733/files/rocket.png"> Free Express Shipping For Orders Over $50!</h1>
    </section>

    <div class="backed">
            <br>
                <h4>Choose Your Option Below</h4>
                <h1 class="paracenter">All Orders Are One-Time Purchases Only.</h1>
                <br><br>

                <p class="paracenter"> Rest assured that all orders made on this page are one-time purchases.<br><br>

                This means that you will not be charged again in the subsequent months. There will not be any recurring billing or hidden charges. When you are ready to reorder, you can purchase again from our website.</p><br><br>
                <ul class="ticks pointers center-align-ticks">
                    <li class="otp">No Rebills</li>
                    <li class="otp">No Recurring Charges</li>
                    <li class="otp">No Autoship</li>
                </ul>
            <br>

        </div>



    <section id="pricePlans-3h" class="paracenter marg0">
        <div class="pt-container">
            <ul id="plans">
                <li class="plan">
                    <ul class="planContainer-3h">
                        <li class="title-3h">
                            <h2>30 Day Supply</h2>
                            <p>1 Bottle</p>
                        </li>
                        <div class="bottles-bottle_11 inblocker"></div>
                        <ul class="options">
                            <br>
                            <li><span>Retail: </span><span class="line-through">$59.90</span></li>
                            <br>
                            <li>Now Only </li>
                            <li>$<span class="price-size">40</span>US</li>
                            <li class="white">|</li>
                            <br>
                            <li>+</li>
                            <li><div class="shippings-grey-shipping inblocker"></div></li>
                            <br>
                            
                        </ul>

                        <li class="button marg-20"><a class="bestPlanButton2 gtm-buy1-pp6" href="https://shop.betterbody.co/a/secure/checkout/opKk88K7j6xPDOuxO2qb">one time purchase</a></li>
                    </ul>
                </li>

                <li class="plan plan2">
                    <div class="adaybottle"><img class="width50-hg" src="https://cdn.shopify.com/s/files/1/2060/5733/files/adaybundle_1.png"></div>
                    <ul class="planContainer-3h centerborder-3h">
                        <li class="title-m-3h">
                            <h2>60 Day Supply</h2>
                            <p>2 Bottles</p>
                        </li>
                        <div class="bottles-bottle_21 inblocker"></div>
                       <ul class="options">
                            <br>
                            <li><span>Retail: </span><span class="line-through">$119.80</span></li>
                            <br>
                            <li>Now Only </li>
                            <li>$<span class="price-size">65</span>US</li>
                            <li>(Only $32.50 Per Bottle)</li>
                            <br>
                            <li>+</li>
                            <li><div class="shippings-orange-shipping inblocker"></div></li>
                            <br>
                            
                        </ul>
                        <li class="button marg-20"><a class="mostPopularButton gtm-buy2-pp6" href="https://shop.betterbody.co/a/secure/checkout/57sG1AD54iCSZ3owGbev">one time purchase</a></li>
                    </ul>
                </li>

                <li class="plan">
                    <ul class="planContainer-3h">
                        <li class="title-3h">
                            <h2>120 Day Supply</h2>
                            <p>4 Bottles</p>
                            
                        </li>
                        <div class="bottles-bottle_31 inblocker"></div>
                        <ul class="options">
                            <br>
                            <li><span>Retail: </span><span class="line-through">$239.60</span></li>
                            <br>
                            <li>Now Only </li>
                            <li>$<span class="price-size">120</span>US</li>
                            <li>(Only $30 Per Bottle)</li>
                            <br>
                            <li>+</li>
                            <li><div class="shippings-orange-shipping inblocker"></div></li>
                            <br>
                            
                        </ul>

                        <li class="button marg-20"><a class="bestPlanButton2 gtm-buy4-pp6" href="https://shop.betterbody.co/a/secure/checkout/STKa7xhayyQhvGO9iSpP">one time purchase</a></li>
                    </ul>
                </li>

            </ul> <!-- End ul#plans -->
        </div>
        
    </section>
        <div>
                <div class="mid-guarantee-icon">
                    <div class="col-sm-6 buttonize">
                        <img src="{{'60daymbg.png' | asset_url}}">
                        <!-- <div class="img-sprite css-sprite-60daymbg"></div>-->
                        60-Day Money Back Guarantee
                    </div> 
                    <div class="col-sm-6 buttonize">
                    <img src="{{'freeship.png' | asset_url}}">
                    <!-- <div class="img-sprite css-sprite-freeship"></div> -->
                    Free US & CA Shipping</div>
                </div>
            </div><br>

            <div>

                <div class="desktop">
                    <img class="free-shippinggo" src="{{'secure-section-min.png' | asset_url}}">
                </div>
                <div class="mobile free-shippinggo">
                    <img class="free-shippinggo" src="{{'secure-resp-min.png' | asset_url}}">
                </div>

            </div>
        
</section>

<!-- Company Profile -->
<section style="padding-bottom:50px !important;">
    <div class="company-profile">
        <p class="paracenter"><img class="width50" src="{{'betterbody-logo-min.png' | asset_url}}">
        </p>
        <p class="paracenter">At Better Body Co, our vision is to help everyone to achieve the body they desire without going through strenuous exercise or diets. What most people don’t know is that the type of bacteria in the gut can drastically affect body weight. And the research is compelling. The right types of bacteria can signal the body to lose weight effortlessly and automatically. Our mission is to educate, encourage and empower people to achieve their weight loss goals.</p>
    </div>
</section>

<div class="backed">
        <p class="paracenter">
            <a class="tnb-1 C_btn" href="#priceAnchor">TRY INERGYPLUS NOW</a>
        </p>
    </div>

<!-- Static Testimonial 4-->
<section class="pad-bottom-0">
    <div class="static-test col-md-12">

        <div class="row testicontainer">
            
            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 12 October 2018</p>
                <h2>“Impressed With The Quality.”</h2>
                <p>“As a medical doctor myself, I’m impressed with the quality of ingredients of this product. CoQ10 and PQQ are something I regularly recommend for my patients with heart conditions. Glad to see that inergy contains both. The extra mind booster is a pleasant welcome.”</p><br>

                <p><strong class="namaste">- David D, MD, Texas</strong></p>
            </div> <!-- /testibody -->
            <div class="col-md-3 testipic">
                <div class="testihead4-testipic12 testiheads"></div>
            </div> <!-- /testipic -->
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-3 testipic">
                <div class="testihead4-testipic13 testiheads"></div>
            </div> <!-- /testipic -->

            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 28 October 2018</p>
                <h2>“Calm, Refreshed And Energized.”</h2>
                <p>“I like it because it works! When nothing else I have tried did!</p><br>

                <p>I take every morning and I feel calm, refresh and energized! Great product!”</p><br>

                <p><strong class="namaste">- Ruth T, Counsellor, Dallas</strong></p>
            </div> <!-- /testibody -->
            
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 1 November 2018</p>
                <h2>“Improved Energy And No More Brain Fog!”</h2>
                <p>“After a couple of weeks of taking inergy, I noticed a definite boost in my energy level and my feelings of brain fog have disappeared. I plan to continue taking it because I feel better and am much more motivated and productive.”</p><br>

                <p><strong class="namaste">- Diana L, Houston</strong></p>
            </div> <!-- /testibody -->
            <div class="col-md-3 testipic">
                <div class="testihead4-testipic14 testiheads"></div>
            </div> <!-- /testipic -->
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-3 testipic">
                <div class="testihead4-testipic15 testiheads"></div>
            </div> <!-- /testipic -->

            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 10 November 2018</p>
                <h2>“Life saver.”</h2>
                <p>“Your product really has helped my sister & nothing has worked for her!</p><br>

                <p>I gave this to my sister who always complained about feeling tired all the time. She’s a nurse, and always have to work odd shift.</p><br>

                <p>She said this is a life saver! She seems to be in better mood these days. And less cranky too!</p><br>

                <p>Ordering more for her and my mother too.”</p><br>


                <p><strong class="namaste">- Lynn E, Arizona</strong></p>
            </div> <!-- /testibody -->
            
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 10 November 2018</p>
                <h2>“Feel A Difference After Just A Couple of Days.”</h2>
                <p>“Just started taking them and have to say I can feel a difference after just a couple days. Seem to have more energy and less tired in the evening. I’m also sleeping better these days.”</p><br>

                <p><strong class="namaste">- Xander S, Housewife, Texas</strong></p>
            </div> <!-- /testibody -->
            <div class="col-md-3 testipic">
                <div class="testihead4-testipic16 testiheads"></div>
            </div> <!-- /testipic -->
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-3 testipic">
                <div class="testihead4-testipic17 testiheads"></div>
            </div> <!-- /testipic -->

            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 12 November 2018</p>
                <h2>“Keeps My Energy Level High.”</h2>
                <p>“I take 2 servings a day, once when I wake up and another serving in the afternoon. Didn’t experience any negative side effect.</p><br>

                <p>It keeps my energy level high and I can focus very well at work. My colleagues also noticed that there’s a bounce in my step!</p><br>

                <p>Great for when you need to maintain high energy level and concentration all day.</p><br>

                <p>Highly recommend! You might want to start with a single serving first and then work your way up when needed.”</p><br>

                <p><strong class="namaste">- Abby G, Secretary, NY</strong></p>
            </div> <!-- /testibody -->
            
        </div> <!-- /testicontainer -->

        <div class="row testicontainer">
            
            <div class="col-md-9 testibody">
                <img class="width20-stars" src="https://cdn.shopify.com/s/files/1/2060/5733/files/stars-testi.png">
                <p class="testi-verified">Verified Buyer<br>Reviewed 13 November 2018</p>
                <h2>“Great experience so far!”</h2>
                <p>“These days, it’s hard to know who to trust on the internet. But I'm glad to say that inergyPLUS delivers on its promise.</p><br>

                <p>I have been researching on ways to have more energy. When I first saw this product, naturally I was skeptical. I was also worried about artificial stimulants in it.</p><br>

                <p>So I contact them to find out more. The support staff was very friendly and helpful. She gave me what I needed to make an informed decision. She was not pushy at all. In the end, I decided to order a few bottles, knowing that I can always ask for a refund if it doesn't work. I'm also at ease to know that they use PayPal. I know that I can always rely on PayPal for help when it comes down to it.</p><br>

                <p>The order arrived fairly quickly. It came in perfect condition. I like the bottle design :-)</p><br>

                <p>Initially I have decided to give it a fair 2 full months to evaluate its effectiveness, since it has a 60 days money back policy.</p><br>

                <p>But I'm happy to report that I started seeing some improvements within just a few days. The effect is subtle at first but noticeable.</p><br>

                <p>It has been 5 weeks since I've started taking it. I feel better and better every week, and I know it’s because of this. My sleep has also improved greatly, which has done wonders for my overall health.</p><br>

                <p>I'm already planning to give these as Christmas presents for my employee!</p><br>

                <p>Thank you for your commitment and integrity in creating this quality product. I'm sure your team has spend a lot of effort to get it right.”</p><br>

                <p><strong class="namaste">- Rob H, Software Engineer, Chicago</strong></p>
            </div> <!-- /testibody -->
            <div class="col-md-3 testipic">
                <div class="testihead4-testipic18 testiheads"></div>
            </div> <!-- /testipic -->
        </div> <!-- /testicontainer -->

    </div>

</section>

<div class="backed">
        <p class="paracenter">
            <a class="tnb-1 C_btn" href="#priceAnchor">TRY INERGYPLUS NOW</a>
        </p>
    </div>

<hr>

<!-- FAQ -->
<section>
    <div class="faq">
        <h1>Frequently Asked Questions</h1>
        <h4 class="paracenter removeMar">Click on the questions to see the answers below</h4>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="question1">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer1" aria-expanded="false"
                           aria-controls="answer1">
                            <strong>Q:</strong> What are the ingredients in InergyPLUS?
                        </a>
                    </h5>
                </div> <!-- question1 -->
                <div id="answer1" class="panel-collapse collapse" aria-labelledby="question1" data-parent="#accordion">
                    <div class="card-body">
                        <p>It contains: CoQ10, PQQ, Acetyl-L-carnitine, Rhodiola, Cordycep, Vitamin Bs, EnXtra</p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer1 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question2">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer2" aria-expanded="false"
                           aria-controls="answer2">
                            <strong>Q:</strong> Does inergyPLUS contain caffeine?
                        </a>
                    </h5>
                </div> <!-- question2 -->
                <div id="answer2" class="panel-collapse collapse" aria-labelledby="question2" data-parent="#accordion">
                    <div class="card-body">
                        <p>There's no caffeine in it. 100% caffeine-free and stimulant-free.<br><br>

                        However, when taken with caffeine, it can act as an amplifier that enhances its positive effects while also reducing crashes associated with caffeine.</p>
                       
                    </div> <!-- /card-body -->
                </div> <!-- /answer2 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question3">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer3" aria-expanded="false"
                           aria-controls="answer3">
                            <strong>Q:</strong> Are your supplement FDA approved? 
                        </a>
                    </h5>
                </div> <!-- question3 -->
                <div id="answer3" class="panel-collapse collapse" aria-labelledby="question3" data-parent="#accordion">
                    <div class="card-body">
                        <p>We're using all natural ingredients, so like most supplements you find on Amazon or the supermarket, they don't need an FDA approval. Our supplements are manufactured in a GMP-certified (Good Manufacturing Practices) facility in Colorado, US, and they go through a stringent quality check before they are sent out.<br><br>

                        Our customers have been posting reviews of their experiences with our supplements, and they have seen positive results such as improved energy levels, better focus and attention and even some weight loss.
                        </p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer3 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question4">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer4" aria-expanded="false"
                           aria-controls="answer4">
                            <strong>Q:</strong> I have an existing heart condition. Can I take it?
                        </a>
                    </h5>
                </div> <!-- question4 -->
                <div id="answer4" class="panel-collapse collapse" aria-labelledby="question4" data-parent="#accordion">
                    <div class="card-body">
                        <p>inergyPLUS contains all natural products that are stimulant free. It contains CoQ10 and PQQ which support the heart health. It also contains EnXtra, which has been proven to reduce the negative side effects of caffeine, such as elevated heart rate.<br><br>

                        However, if you are on medication, in pregnancy, or suffer from any medical conditions, please inform your doctor your interest in taking inergyPLUS or any of our supplements.
                        </p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer4 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question5">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer5" aria-expanded="false"
                           aria-controls="answer5">
                            <strong>Q:</strong> When is the best time to take inergyPLUS
                        </a>
                    </h5>
                </div> <!-- question5 -->
                <div id="answer5" class="panel-collapse collapse" aria-labelledby="question5" data-parent="#accordion">
                    <div class="card-body">
                        <p>inergyPLUS is best taken in the morning or before work. Avoid taking in the evening as it may affect sleep.</p>
                        
                    </div> <!-- /card-body -->
                </div> <!-- /answer5 -->
            </div> <!-- /card -->
             <div class="card">
                <div class="card-header" id="question6">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer6" aria-expanded="false"
                           aria-controls="answer6">
                            <strong>Q:</strong> Can I take more than 1 serving a day? 
                        </a>
                    </h5>
                </div> <!-- question6 -->
                <div id="answer6" class="panel-collapse collapse" aria-labelledby="question6" data-parent="#accordion">
                    <div class="card-body">
                        <p>Some customers have reported taking twice daily, once in the morning and another in the early afternoon without any side effects.<br><br>

                        However, avoid taking more than 2 servings within an 8-hour period.</p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer6 -->
            </div> <!-- /card -->
             <div class="card">
                <div class="card-header" id="question7">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer7" aria-expanded="false"
                           aria-controls="answer7">
                            <strong>Q:</strong> Can I just take green tea extract or yohimbine or caffeine anhydrous?
                        </a>
                    </h5>
                </div> <!-- question7 -->
                <div id="answer7" class="panel-collapse collapse" aria-labelledby="question7" data-parent="#accordion">
                    <div class="card-body">
                        <p>Caffeine or other stimulant may give the illusion of giving you more energy by making you less tired. However, they have been known to have negative side effects like elevated heart rate, jitters and anxiety.
                        </p>

                    </div> <!-- /card-body -->
                </div> <!-- /answer7 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question8">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer8" aria-expanded="false"
                           aria-controls="answer8">
                            <strong>Q:</strong> Are there any hidden/recurring charges? Will I be locked into a subscription?
                        </a>
                    </h5>
                </div> <!-- question8 -->
                <div id="answer8" class="panel-collapse collapse" aria-labelledby="question8" data-parent="#accordion">
                    <div class="card-body">
                        <p>All the orders are a one-time purchase. This means that you won’t be “locked” into a monthly subscription.<br><br>

                        Rest assured that you don’t need to commit to a monthly subscription. There are no recurring or hidden charges at all.</p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer8 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question9">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer9" aria-expanded="false"
                           aria-controls="answer9">
                            <strong>Q:</strong> Do you offer free shipping? Do you ship internationally?
                        </a>
                    </h5>
                </div> <!-- question9 -->
                <div id="answer9" class="panel-collapse collapse" aria-labelledby="question9" data-parent="#accordion">
                    <div class="card-body">
                        <p>For a limited time, we offer free shipping for orders in the US & Canada.<br><br>

                        We ship worldwide. For international orders, there is a shipping cost depending on the weight of the order.</p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer9 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question10">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer10" aria-expanded="false"
                           aria-controls="answer10">
                            <strong>Q:</strong> What is PayPal’s Buyer Protection? How can I get it?
                        </a>
                    </h5>
                </div> <!-- question10 -->
                <div id="answer10" class="panel-collapse collapse" aria-labelledby="question10" data-parent="#accordion">
                    <div class="card-body">
                        <p>We understand everyone needs assurances when it comes to shopping online.<br><br>

                        This is why for even greater assurance, we also include PayPal's Buyer Protection with each purchase free-of-charge.<br><br>

                        This means that Paypal will act as your "agent" and protect you in the event that you're not satisfied with your purchase, even to the extent of getting you your refund on your behalf.<br><br>

                        But you never need to go to that extent with Paypal, because we honor every refund request. But just knowing that Paypal is there to protect you will give you a peace of mind.<br><br>

                        With PayPal's Buyer Protection, you can rest assured that your purchase with us is covered for the entire purchase price and even your original shipping!<br><br>

                        By having our own guarantee and PayPal's policy in place, we have removed all risks on our customers so that anyone can experience inergyPLUS's full benefits without worry.<br><br>

                        All this without adding additional costs to your purchase!
                        </p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer10 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question11">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer11" aria-expanded="false"
                           aria-controls="answer11">
                            <strong>Q:</strong> How do I know if my order is successful? What happens after I order?
                        </a>
                    </h5>
                </div> <!-- question11 -->
                <div id="answer11" class="panel-collapse collapse" aria-labelledby="question11" data-parent="#accordion">
                    <div class="card-body">
                        <p>You will receive an email receipt and confirmation from us in your email inbox. If you haven't, give it another 15 minutes. Do check your spam folder as well and whitelist contact@betterbody.co so that you can receive our emails.<br><br>

                        And in the next 10 minutes or so, you will also be receiving a tracking reference number you can use to monitor your order.
                        </p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer11 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question12">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer12" aria-expanded="false"
                           aria-controls="answer12">
                            <strong>Q:</strong> I have difficulty ordering
                        </a>
                    </h5>
                </div> <!-- question12 -->
                <div id="answer12" class="panel-collapse collapse" aria-labelledby="question12" data-parent="#accordion">
                    <div class="card-body">
                        <p>Please disable your pop-up blocker and try again. It could be interfering with the order process.<br><br>

                        Alternatively, you can contact us at:<br><br>

                        Email us at Contact@betterbody.co<br>
                        Drop us a Facebook message<br>
                        Call us at +1-844-707-7730 (Mon to Fri, 10AM to 4PM CST)
                        </p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer12 -->
            </div> <!-- /card -->
            <div class="card">
                <div class="card-header" id="question13">
                    <h5 class="mb-0 normalfont">
                        <a class="btn btn-link dark-orange" data-toggle="collapse" data-target="#answer13" aria-expanded="false"
                           aria-controls="answer13">
                            <strong>Q:</strong> I still have questions. How do I contact you?
                        </a>
                    </h5>
                </div> <!-- question13 -->
                <div id="answer13" class="panel-collapse collapse" aria-labelledby="question13" data-parent="#accordion">
                    <div class="card-body">
                        <p>You can contact us via<br>
                        Email: contact@betterbody.co<br>
                        Online Contact Form: https://shop.betterbody.co/pages/contact-us<br>
                        Facebook Message: https://www.facebook.com/betterbodyco/<br>
                        Phone: +1-844-707-7730 (Mon to Fri, 10AM to 4PM CST)
                        </p>
                    </div> <!-- /card-body -->
                </div> <!-- /answer13 -->
            </div> <!-- /card -->
            
        </div> <!-- /accordion -->
        <br><br>
      
    <div class="backed">
        <p class="paracenter">
            <a class="tnb-1 C_btn" href="#priceAnchor">TRY INERGYPLUS NOW</a>
        </p>
    </div>

    </div>
</section>

<br><br>

<!-- Disclaimer -->
<section id="disclaimer">
    <div class="disclaimer">
        <h1>Disclaimer</h1>
        <p>These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any diseases. The weight loss and fitness testimonials presented apply only to the individuals depicted, cannot be guaranteed, and should not be considered typical. Every testimonial on this website is from a real customer who used the product Provitalize, and/or nutrition advice listed on the website. No one was paid for a testimonial or endorsement. Results (weight, body fat percentage, circumference measurements, etc.) were self-reported by the customer. You should assume that any results shown in testimonials, advertisements, stories, blog posts, articles, forums or anywhere else on this site or our associated websites are not typical. Results may vary from person to person based on body size and other factors.<br><br>
        
        Due to its potent anti-inflammatory effects, Provitalize should not be taken with NSAIDs, blood-thinners and Cox2-inhibitors. If you are on medication or suffer from medical conditions, please consult your doctor before consuming Provitalize or any of our supplements.
        </p><br>
        <p class="paracenter">
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <h1 class="reference">Click Here to see references</h1>
            </a>
        </p>
    </div>
</section>

<!-- References -->
<section class="marg0">
    <div class="references col-md-12 col-xs-12">
        
        
<div class="collapse" id="collapseExample">
  <div class="card-none card-body">
  <br><br>
        <ol>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/8241697 </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5268485/ </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC21173/ </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4931830/ </li>
            <li>https://www.wellnessresources.com/studiesq10-improves-subjective-sense-of-vigor-in-exercising-men </li>
            <li>https://www.pharmanord.com/history-coenzyme-Q10-research </li>
            <li>https://www.mayoclinic.org/drugs-supplements-coenzyme-q10/art-20362602 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/19861415 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/26782228 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/26226960 </li>
            <li>https://www.ffhdj.com/index.php/ffhd/article/view/81 </li>
            <li>https://www.sciencedirect.com/science/article/pii/S0899900704000942 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/20098226 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/12213433 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/15039515 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/12841930 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/24481540 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/23389837 </li>
            <li>http://www.aggjournal.com/article/S0167-4943(07)00106-9/fulltext </li>
            <li>https://www.ncbi.nlm.nih.gov/books/NBK482360/ </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/27029320 </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4863271/ </li>
            <li>https://pubchem.ncbi.nlm.nih.gov/compound/pyridoxine </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmedhealth/PMHT0022009/ </li>
            <li>https://pubchem.ncbi.nlm.nih.gov/compound/pantothenic_acid#section=Top</li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3257642/ </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2885294/ </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/25257064 </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3658370/ </li>
            <li>http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3121254/ </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/27433838 </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4564082/ </li>
            <li>http://www.ncbi.nlm.nih.gov/pubmed/20804368 </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1847515/ </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/10743500 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/24632844 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/26502953 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/29325481 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/22228617 </li>
            <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5370380/ </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/19016404 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/28219059 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/11081987 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/12725561 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/10839209 </li>
            <li>https://www.ncbi.nlm.nih.gov/pubmed/28242362 </li>
            <li>https://www.sciencedirect.com/science/article/pii/S0925443909002427 </li>
        </ol>
        </div>
    </div>
    </div>
</section>

<script>
    $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.card-header').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.card-header').removeClass('active');
  });
</script>

</body>

</html>

<!-- End of HTML File -->
