{% comment %}
  The contents of the page.details.liquid template can be found in /sections/page-details-template.liquid
{% endcomment %}
<head>
{{ 'ppjoel.css' | asset_url | stylesheet_tag }}
</head>

<!-- Navigation -->
<script src="{{ 'responsive-nav.js' | asset_url }}"></script>

  </head>
  <body>

    <header>
      <a href="#home" class="logo" data-scroll><img src="https://cdn.shopify.com/s/files/1/2060/5733/files/Logo_4c_150x_61ec6233-ccec-407c-bddd-fc12e9982cab.png" alt=""></a>
      <nav class="nav-collapse">
        <ul>
          <li class="menu-item active"><a href="#home" data-scroll>How It Work</a></li>
          <li class="menu-item"><a href="#about" data-scroll>Ingredients</a></li>
          <li class="menu-item"><a href="#projects" data-scroll>Reviews</a></li>
          <li class="menu-item"><a href="#blog" data-scroll>Buy Now</a></li>
        </ul>
      </nav>
    </header>

    <script src="{{ 'fastclick.js' | asset_url }}"></script>
    <script src="{{ 'scroll.js' | asset_url }}"></script>
    <script src="{{ 'fixed-responsive-nav.js' | asset_url }}"></script>
<!-- End Navigation -->

{% section 'page-details-ppjoel-template' %}

